.form-control{
   width: 16%!important;
   margin: 10px 0px 0px 5%;
}
@media only screen and (max-width: 768px){
.flex-card{
   margin-left: 6%;
   margin-top: -12%;
}
.col-xs-3 {
   /* -ms-flex-preferred-size: 25%; */
   flex-basis: 50%!important;
   max-width: 50%!important;
}
.form-control{
   margin: -8px 0px 0px 5%;
}
.breadcrumbs {
   top: 58px!important;
   right: 8%!important;
}
}
#reset_token{
   display: none;
}
.dashboard-wrapper{
   padding: 0px!important;
}
input.btn.btn-success{
   width: 100%!important;
   padding: 9px;
}
.box-shadow-filter{
   box-shadow: 0px 1px 4px -2px black;
}
.button.button-signup {
   padding: 10px 30px 30px 30px !important;
}
i {
    padding-top: 6px;
    padding-left: 7px;
 }

 #toast {
    visibility: hidden;
    max-width: 50px;
    height: 50px;
    /*margin-left: -125px;*/
    margin: auto;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 30px;
    font-size: 17px;
    white-space: nowrap;
 }

 #toast #img {
    width: 50px;
    height: 50px;
    float: left;
    padding-top: 16px;
    padding-bottom: 16px;
    box-sizing: border-box;
    background-color: #111;
    color: #fff;
 }

 #toast #desc {
    color: #fff;
    padding: 16px;
    overflow: hidden;
    white-space: nowrap;
 }

 #toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
 }
 
 .food_resturant_update {
    margin-right: 5px;
 }

 .confirm-modal {
   margin-left: 10%;
   margin-right: 2%;
   margin-bottom: 50px !important;
 }

 .payment_mode,
 .payment_status {
    height: 40px;
    width: 100%;
    border: 1px solid #afadad;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding-left: 4%;
    background: white;
 }
 .kitchen_filter_row {
    text-align: -webkit-center;
 }
 .kitchen_filter_label {
    padding-right: 3%;
 }
.kitchen_filter_label {
   font-size: 110%;
	font-weight: 600;
}
.order_Status_rejected {
   color: #d43f3a;
}