html{
    background-color: #ededed!important;
}
body{
    background-color: #ededed!important;
}
.mililogo {
    font-size: 33px!important;
    font-weight: 600;
    /* font-family: fantasy; */
    margin-left: 50px;
    color: #04b261!important;
}
.nav-item img {
    max-height: 3.0rem!important;
}
.mililogo_inv {
    font-size: 33px!important;
    font-weight: 600;
    /* font-family: fantasy; */
    color: white!important;
}
.feature-logo{
    max-width: 1.5em;
}
.hero.is-theme-primary {
    background-color: #04b261!important;
}
.pageloader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #04b261!important;
    z-index: 999998;
    transition: -webkit-transform 0.35s ease-out;
    transition: transform 0.35s ease-out;
    transition: transform 0.35s ease-out, -webkit-transform 0.35s ease-out;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    will-change: transform;
}
.section.help-section .category-card .card-body a .inner-content .title {
    margin-bottom: 10px !important;
    font-weight: 400;
    color: #04b261!important;
}
.button.primary-btn.btn-outlined {
    border-color: #04b261!important;
    color: #04b261!important;
    background-color: transparent;
}
.section.help-section .category-card .card-body a .inner-content .card-meta .meta-info .authors span {
    color: #04b261!important;
}
a.button.button-signup.mili-logo.btn-outlined.is-bold.btn-align.light-btn {
    border-width: 0px!important;
    /* border: 1px solid!important; */
    font-size: 33px;
    margin: -5px 15px 0px 55px!important;
    padding: 0px!important;
}
a.button.button-signup.mili-logo.btn-outlined.is-bold.btn-align.light-btn:hover {
    background: none!important;
    color:none!important;
}
.button.button-signup.btn-outlined.is-bold.mili-logo{
    border-width: 0px!important;
    /* border: 1px solid!important; */
    font-size: 33px;
    margin: -5px 15px 0px 55px!important;
    padding: 0px!important;
}

/* 2nd Navbar */
.level.centered-level {
    /* padding: 20px 33px;
    border: 1px solid #ededed;
    background: #fff; */
    margin-top: -4px;
    padding-top: 12px!important;
    padding-bottom: 0px!important;
    position: relative;
    z-index: 2;
}
.title-box {
    padding: 0px!important;
    background: white;
    margin-top: 10px;
}
.container-fluid {
    padding: 0px!important;
}
/* !2nd Navbar */
@media screen and (max-width: 768px){
.column.is-half-mobile {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: auto;
    width: 100%!important;
}
.section.is-skewed-sm {
    transform: skew(0deg, -3deg) translate(0, -45px);
    padding-top: 50px!important;
}
}
footer.footer-dark .footer-logo img {
    height: 36px!important;
}
/* **********************************Kitchen************************************ */
.dashboard-wrapper{
    margin-left: 0px!important;
}
.food-select{
    border-radius: 3px;
    border-color: #04b261;
    color: #04b261;
    height: 35px;
    font-weight: bold;
}
.food-select:focus { outline: none; }
option.opt-food {
    font-weight: 600;
    /* background: blanchedalmond; */
}
.column.is-12.sec-menu {
    padding-top: 75px;
}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    margin-right: 10px!important;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    margin-left: 10px!important;
}
.fa-2x {
    font-size: 1.5em;
}
nav.dashboard-nav .nav-icon {
    width: 65px;
    height: 50px;
}
.column.is-12.sec-menu {
    padding-top: 62px;
}
nav.dashboard-nav .container.is-fluid {
    margin: 0;
    height: 50px;
}
.box-header {
    background: white;
    /* margin-top: 22px; */
    /* padding: 16px; */
    /* box-shadow: 0px 2px 2px 2px gainsboro; */
    /* background-color: white; */
    width: 100%;
    margin-left: 0px;
    font-weight: 700;
    font-family: none;
}
.view-all.deal {
    border: none;
    background: #04b261;
    color: white;
    padding: 8px;
    float: right;    
    height: 47px;
    /* margin: -8px 0px -6px 516px; */
    box-shadow: 0px 1px 1px 1px gainsboro;
}
p.subtitle {
    float: left;
    font-size: 18px;
    font-weight: 600;
    color: #656565;
    padding: 10px 0px 0px 10px;
}
.deals {
    margin-top: 25px;
}
.card.card-floating-boxed {
    /* margin: 4%; */
    margin-top: 4%!important;
    border-radius: 6px;
}
.col-md-3.col-sm-4.deal-card.deal-next {
    width: 20%;
    float: left;
    padding: 0;
}

.card.card-floating-boxed .title {
    margin-top: 13%!important;
}

.all-in-one {
    margin-top: 12rem;
}
/* *********************Carousel**************************** */

/* ********************************************************* */
@media (max-width: 770px){
    .level.centered-level {
    /* padding: 20px 40px; */
        /* padding-bottom: 20px; */
    /* border: 1px solid #ededed; */
    /* background: #fff; */
    padding-bottom: 50px;
}
}
nav.dashboard-nav {
    z-index: 5;
    margin-left: 0px;
    position: fixed;
    width: 100%;
    right: 0;
    left: 0;
    max-width: calc(100% - 0px);
}
.columns:not(:last-child) {
    margin-bottom: 0rem!important;
}
.columns.sec-menu {
    display: none;
}
.level-item {
    justify-content: center;
    /* border: 1px solid; */
    float: left;
    width: 20%;
}
/* Slider */
.slider_img {
    height: 300px!important;
}
div#myCarousel {
    height: 300px;
    z-index: 1;
    margin-top: 16px;
}
a.right.carousel-control {
    width: 0px;
}
.glyphicon-chevron-right, .carousel-control .icon-next {
    margin-right: 50px!important;
}
a.left.carousel-control {
    width: 0px;
}
.glyphicon-chevron-left, .carousel-control .icon-prev {
    margin-left: 50px!important;
}
.carousel-control .glyphicon-chevron-left{
    top:50%!important;
}
.column.is-one-quarter.get-app {
    background: white;
    text-align: center;
    font-size: 10px;
    height: 300px;
    margin-top: 22px;
    padding-bottom: 20px;
    box-shadow: 3px 4px 23px 0px gainsboro;
}
.column.is-4.deal-card {
    padding: 26px 4px 0px 4px;
}
h2.get-app {
    font-size: 15px;
    font-weight: 600;
}

.carousel-control.left {
    /* background-image: -webkit-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%); */
    background-image:none!important;
    /* background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,.0001))); */
    /* background-image: linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%); */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
}
.carousel-control.right {
    right: 0;
    left: auto;
    background-image: none!important;
    /* background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%); */
    /* background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%); */
    /* background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.5))); */
    /* background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%); */
    /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1); */
    background-repeat: repeat-x;
}
/* finish Slider */

/* *****Div effect***** */



@media screen and (max-width: 480px) {
.level.centered-level {
    display: none;
}
.col-md-3.col-sm-4.deal-card.deal-next {
    width: 33.33%;
    float: left;
    padding: 0;
}
.card-content {
    height: 150px;
}
.card.card-floating-boxed .title {
    margin-top: 13%!important;
}
.column.is-one-quarter.get-app{
    display: none;
}
.deal-card.deal-first {
    padding-top: 5%;
}
.deals {
    margin-top: 10px;
}
.deal-next{
    margin-top: 15px;
}
.deal-card.deal-next {
    padding-top: 5%;
}
.columns.sec-menu {
    display: block!important;
    background: white;
}
img.slider_img {
    height: 150px!important;
}
p {
   margin: 0px!important;
}
div#myCarousel {
    height: 150px;
}
.view-all.deal {
    border: none;
    background: #04b261;
    color: white;
    padding: 8px;
    /* margin: -8px 0px -6px 50%; */
    box-shadow: 0px 1px 1px 1px gainsboro;
}
}
@media (max-width: 360px) {     
.columns.sec-menu {
    display: block!important;
    z-index: 2;
    position: relative;
}
.col-md-4.col-sm-6.deal-card.deal-next {
    width: 50%;
    float: left;
    padding: 0;
}
.deals {
    margin-top: 10px;
}
img.slider_img {
    height: 150px!important;
}
.carousel-control .glyphicon-chevron-left .slide-left{
    top:25%!important;
}
div#myCarousel {
    height: 150px;
}
}