<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About Us</title>
    <link rel="icon" type="image/png" href="assets/images/favicon.png" />
    <!-- Core css -->
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" id="bulma" href="assets/css/bulma.css" />
    <script src="js/jquery.js"></script>
    <script src="js/firebase.js"></script>
    <script src="js/authentication.js"></script>
    <script src="js/bulkit.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/css/core_lemonade.css">
    <link rel="stylesheet" type="text/css" href="assets/css/core_green.css">
    <!-- Core css -->
    <link rel="stylesheet" type="text/css" href="assets/css/core_demo.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <!-- Plugins css -->
    <link rel="stylesheet" type="text/css" href="assets/css/home_style.css">
    <link rel="stylesheet" type="text/css" href="assets/js/ggpopover/ggtooltip.css">
    <link rel="stylesheet" type="text/css" href="assets/js/slick-carousel/slick.css">
    <link rel="stylesheet" type="text/css" href="assets/js/slick-carousel/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="assets/js/chosen/chosen.css">
    <link rel="stylesheet" type="text/css" href="assets/js/highlightjs/style.css">
    
    <link rel="stylesheet" type="text/css" href="assets/js/iziToast/iziToast.min.css">
    <!-- Icons -->
    <link rel="stylesheet" type="text/css" href="assets/css/icons.min.css">
    <!-- Plugins css -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <!-- Plugins css -->
    <link rel="stylesheet" type="text/css" href="assets/css/core_flashy.css">
    <!-- Plugins css -->
</head>
<style>
.nav-item img {
    max-height: 3rem!important;
    margin-top: -10px;
    margin-left: 5px;
}
</style>
<body>
    <!-- Pageloader -->
    <div class="pageloader"></div>
    <div class="infraloader is-active"></div>
    <% var title = 'About Us'; %>
    <% include Ex-header.ejs %>

    <!-- Help category -->
    <div class="section help-section is-relative">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column"></div>
                <div class="column is-9 help-container">
                    <!-- Breadcrumbs -->
                    <nav class="breadcrumbs">
                        <ul>
                            <!-- <li><a href="landing-v3-help.html">All sections</a></li> -->
                            <li>Welcome to YWait</li>
                            <li>About Us</li>
                            <li>
                                <!-- <button id="center-toast" class="button btn-align raised">Centered</button> -->
                            </li>
                        </ul>
                    </nav>
                    
                    <!-- /Breadcrumbs -->

                    <!-- Articles list-->
                    <div class="shadow-bg">
                        <!-- Header -->
                        <div class="category-header">
                            <!-- <div class="icon">
                                <i class="im im-icon-Claps"></i>
                            </div> -->
                            <!-- <div class="inner-content">
                                <h2 class="title is-3 dark-text">Welcome to our App</h2>
                                <div class="inner-text">
                                    Take the first steps before diving deeply into our application. Learn how to setup
                                    your account and to get started the right way.
                                </div>
                                <div class="card-meta">
                                    <img class="small-avatar" src="https://place-hold.it/250x250" alt="">
                                    <img class="small-avatar" src="https://place-hold.it/250x250" alt="">
                                    <div class="meta-info">
                                        <div class="articles-number">3 articles in this section</div>
                                        <div class="authors">Written by <span>Nicole Ferrier</span> and 1 other</div>
                                    </div>
                                </div>
                            </div> -->
							
							Helping people to make better choices around them
							<br>
                            Our team is adding information from restaurants and keeps on updating existing information on a regular basis to ensure our data is upto date. 
							We are collecting information about all food data includes its culture, history, ingredients, photos and other facts around it.
							so you have all that you need to make an informed and better descion before placing order for food  
							<br>
                            <br>
							Automate existing restaurant management system for an amazing customer experiences.
							<br>
							Our mobile and web platform for restaurants help them to improve the dining experiences of the restaurants by allowing their customers 
							to order food from given menu without help of a waiter, so no matter how busy is the restaurant you will have our app to place and 
							manage your order without need of waiter.
							<br>
							<br>
							Enabling restaurants to create amazing experiences
							<br>
							With vareity of features and management tools on our mobile and web platform, we're enabling restaurants to create amazing experiences which includes take order, manage staff, payments, offers and loyality points 
							which helps them spend more time focusing on food itself, which 
							translates directly to better dining experiences.
                        </div>

                    </div>
                    <!-- /Articles list-->
                </div>
                <div class="column"></div>
            </div>
        </div>
    </div>
    <!-- /Help category -->


    <!-- Footer -->
    <% include footer.ejs %>
    <!-- /Footer -->

    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>


    <!-- Core js -->
    <script src="assets/js/core/jquery.min.js"></script>
    <script src="assets/js/core/modernizr.min.js"></script>
    <!-- Plugins js -->
    <script src="assets/js/ggpopover/ggtooltip.js"></script>
    <script src="assets/js/embed/embed.js"></script>
    
    <script src="assets/js/iziToast/iziToast.min.js"></script>
    <!-- Bulkit js -->
    <script src="assets/js/main.js"></script>
    <!-- Page specific js -->
    <script src="assets/js/pages/landingv3.js"></script>
    
    <script src="assets/js/pages/components-toasts.js"></script>

</body>
<style>
a.nav-item.is-not-mobile{
    
}
</style>
</html>