<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About Us</title>
    <link rel="icon" type="image/png" href="assets/images/favicon.png" />
    <!-- Core css -->
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" id="bulma" href="assets/css/bulma.css" />
    <script src="js/jquery.js"></script>
    <script src="js/firebase.js"></script>
    <script src="js/authentication.js"></script>
    <script src="js/bulkit.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/css/core_lemonade.css">
    <link rel="stylesheet" type="text/css" href="assets/css/core_green.css">
    <!-- Core css -->
    <link rel="stylesheet" type="text/css" href="assets/css/core_demo.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <!-- Plugins css -->
    <link rel="stylesheet" type="text/css" href="assets/css/home_style.css">
    <link rel="stylesheet" type="text/css" href="assets/js/ggpopover/ggtooltip.css">
    <link rel="stylesheet" type="text/css" href="assets/js/slick-carousel/slick.css">
    <link rel="stylesheet" type="text/css" href="assets/js/slick-carousel/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="assets/js/chosen/chosen.css">
    <link rel="stylesheet" type="text/css" href="assets/js/highlightjs/style.css">
    
    <link rel="stylesheet" type="text/css" href="assets/js/iziToast/iziToast.min.css">
    <!-- Icons -->
    <link rel="stylesheet" type="text/css" href="assets/css/icons.min.css">
    <!-- Plugins css -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <!-- Plugins css -->
    <link rel="stylesheet" type="text/css" href="assets/css/core_flashy.css">
    <!-- Plugins css -->
</head>
<style>
.nav-item img {
    max-height: 3rem!important;
    margin-top: -10px;
    margin-left: 5px;
}
</style>
<body>
    <!-- Pageloader -->
    <div class="pageloader"></div>
    <div class="infraloader is-active"></div>
    <% var title = 'About Us'; %>
    <% include Ex-header.ejs %>

    <!-- Help category -->
    <div class="section help-section is-relative">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column"></div>
                <div class="column is-9 help-container">
                    <!-- Breadcrumbs -->
                    <nav class="breadcrumbs">
                        <ul>
                            <!-- <li><a href="landing-v3-help.html">All sections</a></li> -->
                            <li>Welcome to YWait</li>
                            <li>About Us</li>
                            <li>
                                <!-- <button id="center-toast" class="button btn-align raised">Centered</button> -->
                            </li>
                        </ul>
                    </nav>
                    
                    <!-- /Breadcrumbs -->

                    <!-- Articles list-->
                    <div class="shadow-bg">
                        <!-- Header -->
                        <div class="category-header">
                            <!-- <div class="icon">
                                <i class="im im-icon-Claps"></i>
                            </div> -->
                            <!-- <div class="inner-content">
                                <h2 class="title is-3 dark-text">Welcome to our App</h2>
                                <div class="inner-text">
                                    Take the first steps before diving deeply into our application. Learn how to setup
                                    your account and to get started the right way.
                                </div>
                                <div class="card-meta">
                                    <img class="small-avatar" src="https://place-hold.it/250x250" alt="">
                                    <img class="small-avatar" src="https://place-hold.it/250x250" alt="">
                                    <div class="meta-info">
                                        <div class="articles-number">3 articles in this section</div>
                                        <div class="authors">Written by <span>Nicole Ferrier</span> and 1 other</div>
                                    </div>
                                </div>
                            </div> -->
                            YWait  Private Limited and/or its affiliates ("YWait," the "Company," "we," "us,"
                            and "our,") respect your
                            privacy and is committed to protecting it through its compliance with its privacy policies.
                            This policy describes:<br>
                            the types of information that YWait may collect from you when you access or use
                            its
                            websites, applications and other
                            online services (collectively, referred as "Services"); and<br>
                            its practices for collecting, using, maintaining, protecting and disclosing that
                            information.<br><br>
                            This policy applies only to the information YWait collects through its Services, in email,
                            text and other electronic
                            communications sent through or in connection with its Services.

                            This policy DOES NOT apply to information that you provide to, or that is collected by, any
                            third-party, such as
                            restaurants at which you make reservations and/or pay through YWait's Services and social
                            networks that you use in
                            connection with its Services. YWait encourages you to consult directly with such
                            third-parties about their privacy
                            practices.<br><br>

                            Please read this policy carefully to understand YWait's policies and practices regarding
                            your information and how
                            YWait will treat it. By accessing or using its Services and/or registering for an account
                            with YWait, you agree to
                            this privacy policy and you are consenting to YWait's collection, use, disclosure,
                            retention, and protection of your
                            personal information as described here. If you do not provide the information YWait
                            requires, YWait may not be able
                            to provide all of its Services to you.<br><br>

                            If you reside in a country within the European Union/European Economic Area (EAA), YWait
                             Portugal, Unipessoal
                            LDA , located at Avenida 24 de Julho, N 102-E, 1200-870, Lisboa, Portugal, will be the
                            controller of your personal data
                            provided to, or collected by or for, or processed in connection with our Services.<br><br>

                            If you reside in India, YWait INDIA LLC, located at 601 S. Cedar Street,
                            Suite 111, Charlotte, NC
                            28202 will be the controller of your personal data provided to, or collected by or for, or
                            processed in connection with
                            our Services.<br><br>

                            If you reside in any other part of the world, YWait  Private Limited, located at 22nd
                            Floor, One Horizon Centre,
                            Golf Course Road, Gurgaon, Haryana, India -122003 will be the controller of your personal
                            data provided to, or
                            collected by or for, or processed in connection with our Services.<br><br>

                            Your data controller is responsible for the collection, use, disclosure, retention, and
                            protection of your personal
                            information in accordance with its privacy standards as well as any applicable national
                            laws. Your data controller may
                            transfer data to other members of YWait as described in this Privacy Policy. YWait may
                            process and retain your
                            personal information on its servers in India where its data centers are located, and/or on
                            the servers of its third
                            parties (in or outside India), having contractual relationships with YWait.<br><br>

                            This policy may change from time to time, your continued use of YWait's Services after it
                            makes any change is deemed
                            to be acceptance of those changes, so please check the policy periodically for updates.
                        </div>

                    </div>
                    <!-- /Articles list-->
                </div>
                <div class="column"></div>
            </div>
        </div>
    </div>
    <!-- /Help category -->


    <!-- Footer -->
    <% include footer.ejs %>
    <!-- /Footer -->

    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>


    <!-- Core js -->
    <script src="assets/js/core/jquery.min.js"></script>
    <script src="assets/js/core/modernizr.min.js"></script>
    <!-- Plugins js -->
    <script src="assets/js/ggpopover/ggtooltip.js"></script>
    <script src="assets/js/embed/embed.js"></script>
    
    <script src="assets/js/iziToast/iziToast.min.js"></script>
    <!-- Bulkit js -->
    <script src="assets/js/main.js"></script>
    <!-- Page specific js -->
    <script src="assets/js/pages/landingv3.js"></script>
    
    <script src="assets/js/pages/components-toasts.js"></script>

</body>
<style>
a.nav-item.is-not-mobile{
    
}
</style>
</html>