    <!-- Feature Matrix -->
    <section id="feature-matrix" class="section is-medium is-skewed-sm">
            <div class="container has-text-centered is-reverse-skewed-sm">
                <div class="section-title-wrapper has-text-centered">
                    <div class="clean-bg-symbol"><i class="fa fa-gg"></i></div>
                    <div>
                        <h2 class="clean-section-title">Also look at these.</h2>
                        <h3 class="subtitle is-5 pt-10 pb-10">
                            YWait turns your restaurant's standard to an international scale with outstanding features
                            in
                            mobile app for Restaurant
                        </h3>
                    </div>
                </div>
    
                <div class="content-wrapper">
                    <div class="columns is-flex-mobile is-vcentered is-multiline has-text-centered">
                        <!-- Icon box -->
                        <div class="column is-4 is-half-mobile">
                            <div class="icon-box">
                                <div class="box-icon is-icon-reveal">
                                    <!-- <i class="im im-icon-Cloud-Lock"></i> -->
                                    <img src="assets/images/feature-img/qr-code.svg" class="feature-logo">
                                </div>
                                <div class="box-title clean-text">
                                        Waiter less ordering
                                </div>
                                <div class="box-text is-tablet-padded">
                                    Don't make your customers wait for the waiter to place the order. Let them place
                                    the
                                    order by just scanning the QR code
                                </div>
                            </div>
                        </div>
                        <div class="column is-4 is-half-mobile">
                            <div class="icon-box primary">
                                <div class="box-icon is-icon-reveal">
                                    <!-- <i class="im im-icon-Credit-Card2"></i> -->
                                    <img src="assets/images/feature-img/payment-method.svg" class="feature-logo">
                                </div>
                                <div class="box-title clean-text">
                                        Mobile payments
                                </div>
                                <div class="box-text is-tablet-padded">
                                    Let your customers have multiple options to pay. Let customers use YWait to make
                                     payment from any UPI based app. 
                                </div>
                            </div>
                        </div>
                        <!-- /Icon box -->
                        <!-- Icon box -->
                        <div class="column is-4 is-half-mobile">
                            <div class="icon-box">
                                <div class="box-icon is-icon-reveal">
                                    <!-- <i class="im im-icon-Calendar-4"></i> -->
                                    <img src="assets/images/feature-img/calendar.svg" class="feature-logo">
                                </div>
                                <div class="box-title clean-text">
                                        Events
                                </div>
                                <div class="box-text is-tablet-padded">
                                    Planning an event and want every foodie to know about it? Now do that with just a
                                    push
                                    of the button from our admin panel.
    
                                </div>
                            </div>
                        </div>
                        <!-- /Icon box -->
                        <!-- Icon box -->
                        <div class="column is-4 is-half-mobile">
                            <div class="icon-box secondary">
                                <div class="box-icon is-icon-reveal">
                                    <!-- <i class="im im-icon-Watch"></i> -->
                                    <img src="assets/images/feature-img/menu.svg" class="feature-logo">
                                </div>
                                <div class="box-title clean-text">
                                        Digital menu card
                                </div>
                                <div class="box-text is-tablet-padded">
                                    Let your customers know what you have to offer with a digital menu card to display
                                    all
                                    cuisines, foods and everything
                                </div>
                            </div>
                        </div>
                        <!-- /Icon box -->
                        <!-- Icon box -->
                        <div class="column is-4 is-half-mobile">
                            <div class="icon-box">
                                <div class="box-icon is-icon-reveal">
                                    <!-- <i class="im im-icon-Speach-Bubble2"></i> -->
                                    <img src="assets/images/feature-img/review.svg" class="feature-logo">
                                </div>
                                <div class="box-title clean-text">
                                        In-app reviews
                                </div>
                                <div class="box-text is-tablet-padded">
                                    Review system which doesn't irritate. Let your
                                    customers review your food, service,
                                    hygeine and ambience.
                                </div>
                            </div>
                        </div>
                        <!-- /Icon box -->
                        <!-- Icon box -->
                        <div class="column is-4 is-half-mobile">
                            <div class="icon-box secondary">
                                <div class="box-icon is-icon-reveal">
                                    <!-- <i class="im im-icon-Conference"></i> -->
                                    <img src="assets/images/feature-img/social-media.svg" class="feature-logo">
                                </div>
                                <div class="box-title clean-text">
                                        Social feeds
                                </div>
                                <div class="box-text is-tablet-padded">
                                    Integrate your social media accounts directly into your mobile app and let your
                                    customers receive your social updates
                                </div>
                            </div>
                        </div>
                        <!-- /Icon box -->
                        <!-- Icon box -->
                        <div class="column is-4 is-half-mobile">
                            <div class="icon-box secondary">
                                <div class="box-icon is-icon-reveal">
                                    <!-- <i class="im im-icon-Testimonal"></i> -->
                                    <img src="assets/images/feature-img/review.svg" class="feature-logo">
                                </div>
                                <div class="box-title clean-text">
                                        Table reservation
                                </div>
                                <div class="box-text is-tablet-padded">
                                    Don’t let your customers wait in queue or be unsure about wasting their time. Get
                                    real-time reservation requests.
                                </div>
                            </div>
                        </div>
                        <!-- /Icon box -->
                        <!-- Icon box -->
                        <div class="column is-4 is-half-mobile">
                            <div class="icon-box">
                                <div class="box-icon is-icon-reveal">
                                    <!-- <i class="im im-icon-Synchronize-2"></i> -->
                                    <img src="assets/images/feature-img/discount.svg" class="feature-logo">
                                </div>
                                <div class="box-title clean-text">
                                        Loyalty programs & offers
                                </div>
                                <div class="box-text is-tablet-padded">
                                    There is no better way to increase your retention than to offer a loyalty program
                                    via
                                    in app discounts and offers on
                                    orders
                                </div>
                            </div>
                        </div>
                        <div class="column is-4 is-half-mobile">
                            <div class="icon-box">
                                <div class="box-icon is-icon-reveal">
                                    <!-- <i class="im im-icon-Statistic"></i> -->
                                    <img src="assets/images/feature-img/bag.svg" class="feature-logo">
                                </div>
                                <div class="box-title clean-text">
                                        Home delivery & take away
                                </div>
                                <div class="box-text is-tablet-padded">
                                    Give your customers the delight of placing their take away orders online via the
                                    app or
                                    book.
                                </div>
                            </div>
                        </div>
                        <!-- /Icon box -->
                    </div>
                    <!-- <div class="is-title-reveal pt-40 pb-40">
                        <a href="landing-v1-signup.html" class="button button-cta btn-align primary-btn raised">Start
                            your
                            Free
                            trial</a>
                    </div> -->
                </div>
            </div>
        </section>
        <!-- /Feature Matrix -->