<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About Us</title>
    <link rel="icon" type="image/png" href="assets/images/favicon.png" />
    <!-- Core css -->
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" id="bulma" href="assets/css/bulma.css" />
    <script src="js/jquery.js"></script>
    <script src="js/firebase.js"></script>
    <script src="js/authentication.js"></script>
    <script src="js/bulkit.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/css/core_lemonade.css">
    <link rel="stylesheet" type="text/css" href="assets/css/core_green.css">
    <!-- Core css -->
    <link rel="stylesheet" type="text/css" href="assets/css/core_demo.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <!-- Plugins css -->
    <link rel="stylesheet" type="text/css" href="assets/css/home_style.css">
    <link rel="stylesheet" type="text/css" href="assets/js/ggpopover/ggtooltip.css">
    <link rel="stylesheet" type="text/css" href="assets/js/slick-carousel/slick.css">
    <link rel="stylesheet" type="text/css" href="assets/js/slick-carousel/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="assets/js/chosen/chosen.css">
    <link rel="stylesheet" type="text/css" href="assets/js/highlightjs/style.css">

    <link rel="stylesheet" type="text/css" href="assets/js/iziToast/iziToast.min.css">
    <!-- Icons -->
    <link rel="stylesheet" type="text/css" href="assets/css/icons.min.css">
    <!-- Plugins css -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <!-- Plugins css -->
    <link rel="stylesheet" type="text/css" href="assets/css/core_flashy.css">
    <!-- Plugins css -->
</head>
<style>
    .nav-item img {
        max-height: 3rem !important;
        margin-top: -10px;
        margin-left: 5px;
    }
</style>

<body>
    <!-- Pageloader -->
    <div class="pageloader"></div>
    <div class="infraloader is-active"></div>
    <% var title = 'About Us'; %>
    <% include Ex-header.ejs %>

    <!-- Help category -->
    <div class="section help-section is-relative">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column"></div>
                <div class="column is-9 help-container">
                    <!-- Breadcrumbs -->
                    <nav class="breadcrumbs">
                        <ul>
                            <!-- <li><a href="landing-v3-help.html">All sections</a></li> -->
                            <li>Welcome to YWait</li>
                            <li>Blog</li>
                            <li>
                                <!-- <button id="center-toast" class="button btn-align raised">Centered</button> -->
                            </li>
                        </ul>
                    </nav>

                    <!-- /Breadcrumbs -->

                    <!-- Articles list-->
                    <div class="shadow-bg">
                        <!-- Header -->
                        <div class="category-header" style="display: block;">
                            A great restaurant is one that just makes you feel like you're not sure whether you went out
                            or you came home and confuses you. If it can do both of those things at the same time,
                            you're hooked. There are new orders to manage, payments to accept, staffs to manage, numbers
                            to check and so on. Have one ever thought on how can we automate these tasks? If not, then
                            here's YWait will help you to manage this.
                            <br>
                            <br>
                            Giving an honor to our customers to place order, pay bills, share their feedback from the
                            app in the phone itself will save the time of the restaurants with the joy of placing an
                            order to the customers. YWait provides you the simple and easy to use website and mobile app
                            to manage everything you need in your restaurant.
                            <br>
                            <br>
                            Now customers can place & track their orders without calling a waiter, using our customer
                            centric mobile application "MILI". Whenever customers places order he will receive
                            notifications of order status, which helps to enhance customer-restaurant relationship.
                            Customers can pay bills instantly with in app multiple payment options. No waitings in
                            queues. Share their feedback anytime from the app.

                            <br>
                            <br>
                            Meanwhile customer orders and tracks their order on their own, restaurants can focus on
                            speeding up their kitchen services, hence reducing the serving time. We at YWait focus on
                            the concept of increasing kitchen staff and minimum waiter staff, so as to reduce delays in
                            serving food. Which results in serving more customers than the old traditional system.
                            <br>
                            <br>
                            We not only just focus on to simplify the process, but how to grow restaurants business.
                            YWait website and MILI restaurants app shows graphical represention of orders and revenue,
                            which provides insights of the one's business. Because in the end, that's what that really
                            matters!

                            <br>
                            <br>
                            <em><b>The customer experience is the next competitive battleground.<b></em> 
                            <br>
                            – Jerry Gregoire
                        </div>

                    </div>
                    <!-- /Articles list-->
                </div>
                <div class="column"></div>
            </div>
        </div>
    </div>
    <!-- /Help category -->


    <!-- Footer -->
    <% include footer.ejs %>
    <!-- /Footer -->

    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>


    <!-- Core js -->
    <script src="assets/js/core/jquery.min.js"></script>
    <script src="assets/js/core/modernizr.min.js"></script>
    <!-- Plugins js -->
    <script src="assets/js/ggpopover/ggtooltip.js"></script>
    <script src="assets/js/embed/embed.js"></script>

    <script src="assets/js/iziToast/iziToast.min.js"></script>
    <!-- Bulkit js -->
    <script src="assets/js/main.js"></script>
    <!-- Page specific js -->
    <script src="assets/js/pages/landingv3.js"></script>

    <script src="assets/js/pages/components-toasts.js"></script>

</body>
<style>
    a.nav-item.is-not-mobile {}
</style>

</html>