<!-- Hero and nav -->
<div class="hero is-theme-primary">
    <div class="navbar-wrapper navbar-fade navbar-light">
        <div class="hero-head">

            <!-- Nav -->
            <div class="container">
                <nav class="nav">
                    <div class="container big">
                        <div class="nav-left">
                            <a class="nav-item" href="/">
                                <img class="light-logo" src="assets/images/logos/bulkit-w.png" alt="">
                            </a>
                            <!-- Sidebar trigger -->
                            <!-- <a id="navigation-trigger" class="nav-item hamburger-btn" href="javascript:void(0);">
                                <span class="menu-toggle">
                                    <span class="icon-box-toggle">
                                        <span class="rotate">
                                            <i class="icon-line-top"></i>
                                            <i class="icon-line-center"></i>
                                            <i class="icon-line-bottom"></i>
                                        </span>
                                    </span>
                                </span>
                            </a> -->
                            <!-- <a href="landing-v3-pricing.html" class="nav-item is-tab nav-inner is-not-mobile">
                                Pricing
                            </a>
                            <a href="landing-v3-help.html" class="nav-item is-tab nav-inner is-not-mobile">
                                Help
                            </a> -->
                            <!-- <a  class="button button-signup btn-outlined is-bold btn-align primary-btn rounded raised modal-trigger"
                                data-modal="vertical-form-modal"> -->
                            <!-- <a id="signup-btn" class="nav-item is-tab nav-inner is-not-mobile raised modal-trigger" data-modal="vertical-form-modal">
                                Login
                            </a> -->
                        </div>
                        <!-- Responsive toggle -->
                        <span class="nav-toggle">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                        <div class="nav-right nav-menu">
                            <span class="nav-item">
                                <a href='/' class="nav-item is-tab nav-inner is-mobile raised modal-trigger">
                                    Home
                                </a>
                            </span>
                            <span class="nav-item">
                                <a id="signup-btn" href='login'
                                    class="login-btn nav-item is-tab nav-inner is-mobile raised"
                                    >
                                    Login
                                </a>
                            </span>
                            <span class="nav-item">
                                <a id="signup-btn" href="signup"
                                    class="button button-signup btn-outlined is-bold btn-align light-btn rounded">
                                    Sign up
                                </a>
                            </span>
                        </div>
                    </div>
                </nav>
            </div>
            <!-- /Nav -->
        </div>
    </div>

    <!-- Help center title -->
    <div id="main-hero" class="hero-body">
        <div class="container">
            <div class="columns is-vcentered pt-40">
                <div class="column"></div>
                <div class="column is-9">
                    <div class="help-header pb-20">
                        <img src="assets/images/logos/square-white.png" alt="">
                        <h1 class="title is-4"><%= title %></h1>
                    </div>
                    <!-- <div class="help-search-wrapper">
                        <input type="text" placeholder="search articles">
                        <i class="sl sl-icon-magnifier"></i>
                    </div> -->
                </div>
                <div class="column"></div>
            </div>
        </div>
    </div>
    <!-- /Help center title -->
</div>
<!-- /Hero and nav -->
<!-- Modal LOGIN Markup -->

<style>
    @media screen and (max-width: 768px) {
        .navbar-wrapper.navbar-fade.navbar-light.mobile-menu-dark .nav-menu.is-active {
            background-color: #04b261 !important;
        }

        .navbar-wrapper.navbar-fade.navbar-light.mobile-menu-dark {
            background-color: #04b261 !important;
        }

        .nav-item.nav-inner {
            padding-top: 0px !important;
            padding-bottom: 0px !important;
        }

        .nav-menu .nav-item {
            border-top: none;
        }

        .nav-item {
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: center;
        }

        .hero-body {
            padding: 0rem 1.5rem;
        }

        .column {
            padding: .2rem;
        }

        .help-header img {
            max-height: 35px;
            max-width: 40px;
        }
    }
</style>