<!-- Dark footer -->
<footer id="dark-footer" class="footer footer-dark">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="footer-column">
                    <div class="footer-header">
                        <h3>Customer Service</h3>
                    </div>
                    <ul class="link-list">
                        <li><a href="tel:+918886780265">WhatsApp +91 – 81691 40042</a></li>
                        <li><a href="mailto:support@ywait.in">Inquiries: support@ywait.in </a></li>
                        <!-- <li><a href="#">Customers</a></li> -->
                        <!-- <li><a href="#">Weekly sessions</a></li> -->
                        <li><a href="#">Free trials and demo</a></li>
                        <!-- <li><a href="#">What's next ?</a></li> -->
                    </ul>
                </div>
            </div>
            <div class="column">
                <div class="footer-column">
                    <div class="footer-header">
                        <h3>Company</h3>
                    </div>
                    <ul class="link-list">
                        <li><a href="about">About us</a></li>
                        <!-- <li><a href="#">About security</a></li> -->
                        <!-- <li><a href="#">User guide</a></li> -->
                        <li><a href="terms">Terms of service</a></li>
                        <!-- <li><a href="#">Terms of website use</a></li> -->
                        <li><a href="privacy">Privacy policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="column">
                <div class="footer-column">
                    <div class="footer-header">
                        <h3>Learning</h3>
                    </div>
                    <ul class="link-list">
                        <!-- <li><a href="#">Resources</a></li> -->
                        <li><a href="blog">Blog</a></li>
                        <li><a href="#">FAQ</a></li>
                        <!-- <li><a href="#">API documentation</a></li> -->
                        <!-- <li><a href="#">Admin guide</a></li> -->
                    </ul>
                </div>
            </div>
            <div class="column">
                <div class="footer-column">
                    <div class="footer-logo">
                        <img src="assets/images/logos/home-ywait-logo.png" alt="">
                    </div>
                    <div class="footer-header">
                        <nav class="level is-mobile">
                            <div class="level-left level-social">
                                <a href="https://www.facebook.com/Mili-716847228672366" class="level-item">
                                    <span class="icon"><i class="fa fa-facebook"></i></span>
                                </a>
                                <a href="https://twitter.com/themiliapp" class="level-item">
                                    <span class="icon"><i class="fa fa-twitter"></i></span>
                                </a>
                            </div>
                        </nav>
                    </div>
                    <div class="copyright">
                        <span class="moto light-text">Good time, Great taste. Food is <i class="fa fa-heart color-red"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<style>
footer.footer-dark .footer-logo img {
    margin-top: -14px;
}
.footer {
    background-color: #f5f5f5;
    padding: 0rem 1.5rem 0rem;
}
footer.footer-dark {
    padding-bottom: 4%;
}
</style>

    <!-- <script src="assets/js/core/jquery.min.js"></script> -->
    <script src="assets/js/core/modernizr.min.js"></script>
    <!-- Plugins js -->
    <script src="assets/js/scrollspy/scrollspy.min.js"></script>
    <script src="assets/js/waypoints/jquery.waypoints.min.js"></script>
    <script src="assets/js/waypoints/sticky.min.js"></script>
    <script src="assets/js/slick-carousel/slick.min.js"></script>
    <script src="assets/js/chosen/chosen.jquery.min.js"></script>
    <script src="assets/js/vivus/vivus.min.js"></script>
    <script src="assets/js/ggpopover/ggtooltip.js"></script>
    <script src="assets/js/iziToast/iziToast.min.js"></script>
    <script src="assets/js/highlightjs/highlight.pack.js"></script>
    <!-- Bulkit js -->
    <!-- <script src="assets/js/main.js"></script> -->
    <!-- Bulkit js -->
    <!-- Page specific js -->
    <script src="assets/js/pages/components-modals.js"></script>
    <div id="backtotop"><a href="#"></a></div>
    <script src="assets/js/pages/demo.js"></script>
    <script src="assets/js/pages/components-toasts.js"></script>
<!-- /Dark footer -->