<!Doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>MILI</title>

	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Bai+Jamjuree" rel="stylesheet">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/nivo_themes/default/default.css">
	<link rel="stylesheet" type="text/css" href="css/maincss.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="css/home_style.css">
	<script src="js/jquery.js"></script>
	<script src="js/firebase.js"></script>
	<script src="js/authentication.min.js"></script>
</head>

<body>

	<!-- preloader section -->
	<section class="preloader" style="display: none;">
		<div class="sk-spinner sk-spinner-pulse"></div>
	</section>

	<!-- navigation section -->
	<!-- <div class="container-fluid" ;background:#101010;"> -->
	<div class="container-fluid div1">
		<!-- <nav class="container navbar header_div  navbar-fixed-top" role="navigation">
			<div class="navbar-header">
				<button class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
					<span class="icon icon-bar"></span>
					<span class="icon icon-bar"></span>
					<span class="icon icon-bar"></span>
				</button>
				<div class="logo" style="margin-top:10px;">MILI</div>
			</div>
			<div class="collapse" id="navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="shift-left">
						<a class="smoothScroll btn4" data-toggle="modal" data-target="#myDmodal">
							DOWNLOAD
						</a>
					</li>
					<li><a href="#restaurants" class="smoothScroll btn4" data-toggle="modal" data-target="#myDmodal">RESTAURANTS</a></li>
					<li><a href="#working" class="smoothScroll btn4" data-toggle="modal" data-target="#myDmodal">HOW IT WORKS?</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a class="smoothScroll btn4" data-toggle="modal" data-target="#loginModal">
							LOGIN</a></li>
				</ul>
			</div>
		</nav> -->
		<!-- New Navigation bar -->
		<nav>
			<div class="nav-fostrap">
				<ul>
					<li><a href="" class="btn4">MILI</a></li>
					<li><a href="javascript:void(0)" class="btn4" data-toggle="modal" data-target="#myDmodal">Download</a>
					</li>
					<li><a href="javascript:void(0)" class="btn4" data-toggle="modal" data-target="#myDmodal">Restaurant</a>
					</li>
					<li><a href="javascript:void(0)" class="btn4" data-toggle="modal" data-target="#myDmodal">How it work?
							<!-- <span class="arrow-down"></span> -->
						</a>
						<!-- <ul class="dropdown">
							<li><a href="">Tools</a></li>
							<li><a href="">Backlink</a></li>
						</ul> -->
					</li>
					<li><a href="" class="btn4" data-toggle="modal" data-target="#loginModal">Log In</a></li>
				</ul>
			</div>
			<div class="nav-bg-fostrap">
				<div class="navbar-fostrap"> <span></span> <span></span> <span></span> </div>
				<a href="" class="title-mobile">MILI</a>
			</div>
		</nav>
		<div class='content'>
		</div>
		<!-- Navigation Script -->
		<script>
			$(document).ready(function () {
				$('.navbar-fostrap').click(function () {
					$('.nav-fostrap').toggleClass('visible');
					$('body').toggleClass('cover-bg');
				});
			});
		</script>
		<!-- Navigation bar end -->
	</div>
	<script>
		$(document).ready(function () {
			$(window).scroll(function () {
				var scroll = $(window).scrollTop();
				if (scroll > 50) {
					$(".nav-fostrap").css({ "background": "#03A9F4" }),
						$(".logo").css({ "color": "#555" }),
						$(".container-fluid.div1").css({ "box-shadow": "0px 0px 4px grey" }),
						$(".smoothScroll.btn4").css({ "color": "#555" });
				}

				else {
					$(".logo").css({ "color": "white" }),
						$(".nav-fostrap").css({ "background": "none" }),
						$(".container-fluid.div1").css({ "box-shadow": "none" }),
						$(".smoothScroll.btn4").css({ "color": "white" });
				}
			})
		})
	</script>
	<style>
		.header_div{
    border-color: rgba(255, 255, 255, 0);
    margin-bottom: 0px;
}
.smoothScroll.btn4 {
color: white;
}
.smoothScroll.btn4:hover{
	color: white;
	transition: 0.2s;
}
.header_text.btn4{
	color:rgb(0, 0, 0);
}
/* .smoothScroll.btn4 {
    color: black;
} */
/* a.smoothScroll.header_text {
    color: white;
} */
	</style>
	<!-- </div> -->

	<!-- -------------------------------------------------------------------------------------------------------- -->
	<!-- LOGIN MODAL for Login Page-->
	<div class="form-group modal fade main-login" id="loginModal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body" id="loginForm">
					<div class="input-log">
						<input type="email" name="login_email" id="login_email" required />
						<label for="email-id">Email Id:</label>
					</div>
					<div class="input-log">
						<input type="password" name="login_password" id="login_password" required />
						<label for="pass">Password:</label>
					</div>
					<center>
						<button class="sub_log" onclick="signIn();">Login</button>
					</center>
					<div class="forget_acc">
						<center><a href="" class="forget_acc">Forgot Password?</a><br><b class="or">Or</b></center>
					</div>
					<div class="no-account">
						Don't have an account?
						<a href="/" class="sign-up" style="text-decoration:underline">Sign-up</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--  -->
	<div class="container-fluid div2">
		<div class="container sign-up">
			<div class="row main">
				<div class="main-login main-center col-sm">
					<h3><strong></strong></h3>
					<div class="layout__ one-whole">

						<ul class="text-orange text--left push-tiny--top">
							<!-- <li class="flush--bottom">Phone number is required.</li>
								<li class="flush--bottom">Password is required.</li>
								<li class="flush--bottom"> name is required.</li>
								<li class="flush--bottom">Last name is required.</li>
							<li class="flush--bottom">Email is required.</li> -->
						</ul>
					</div>
					<div class="form-horizontal" id="restaurant_register">
						<h3>
							<center class="only_for">Only For Restaurant</center>
						</h3>
						<div class="form-group  brand-color">
							<a type="button" id="loginButton" data-toggle="modal" data-target="#loginModal" class="btn  btn-primary btn-lg btn-block login-register">Already
								Have An Account</a>
						</div>
						<div class="form-group">
							<div class="cols-sm-10">
								<div class="input-group">
									<!-- <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span> -->
									<input type="text" class="form-control form-rounded place_color" name="name" id="name" placeholder="  Name"
									 style="width: 50%" />
									<input type="text" class="form-control form-rounded place_color" name="lastname" id="lastname" placeholder=" Last Name"
									 style="width: 50%" />
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="cols-sm-10">
								<div class="input-group">
									<!-- <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span> -->
									<input class="form-control place_color" name="email" id="email" placeholder="Email Id" required />
								</div>
							</div>
						</div>

						<div class="form-group">

							<div class="cols-sm-10">
								<div class="input-group">
									<!-- <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span> -->
									<input type="text" class="form-control place_color" name="restaurantname" id="restaurantname" placeholder="Restaurant Name" />
								</div>
							</div>
						</div>

						<div class="form-group">

							<div class="cols-sm-10">
								<div class="input-group">
									<!-- <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span> -->
									<input type="tel" class="form-control place_color" name="phonenumber" id="phonenumber" placeholder="Phone Number" />
								</div>
							</div>
						</div>

						<div class="form-group">

							<div class="cols-sm-10">
								<div class="input-group">
									<!-- <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span> -->
									<input type="password" class="form-control place_color" name="password" id="password" placeholder="Password" />
								</div>
							</div>
						</div>


						<div class="form-group ">
							<button type="button" id="registerButton" class="btn btn-primary btn-lg btn-block login-register" onclick="signUpWithEmailVerification();">Register</button>
						</div>

						<p class="flush">By proceeding, I agree that Mili or its representatives may contact me by email, phone,
							or SMS
							at
							the email address or number I provide, including for marketing purposes. I have read and understand the
							relevant
							Privacy Statement.</p>
					</div>
				</div>
				<div class="col-sm left-content">
					<h3 style="color: #fff;">Mili The New Way To Order Food Inside The Restaurant
					</h3>
					<p class="left-content">
						<li>Don't let your customers do <strong>pssh pssh! hiss hiss! excuse me..
								FWEET!.. Oye Waiter, Bro, Mere Bhai, Anna, @#$%</strong> for calling out waiters</li>
						<li>Let the customers scan the QR code on the table and place the order through there own mobile without
							any
							hardware
							cost and waiter training sorry it's actually waiter less ordering</li>
						<li>Introducing Mili! Register To Know How We Can Change The Restaurant Interact With Customers and take
							it to
							next level you alays thought of along with all new innovative feature of scanning and placing the order
							at a
							price you will love to use it.</li>
					</p>
				</div>
			</div>
		</div>
	</div>
	<!-- Model for download -->
	<div class="form-group modal fade" id="myDmodal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<div class="error_msg">Work In Progress!!!</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ---------------------------------------------------------------------------------------------- -->
	<div class="container-fluid div3" ;">
		<div class="container">
			<div class="admin_panel_features " style="margin-top:0%">
				<div class="container">
					<div class="sec-title margbt50 text-center">
						<h2 class="margbt5 brand_font_inv">Powerful Admin Panel</h2>
						<p class="margbt20">Manage your Restaurant App on the go with Powerful Admin Features available on Mobile,
							Tablet
							and Desktop</p><span class="line"></span>
					</div>
					<div class="row">

						<div class="col-xs-12 col-sm-6 col-md-4">
							<div class="servicesThumbnail btn10">
								<div class="imgWrapper"><img src="images/analytics.png" class="" alt=""></div>
								<div class="servicesContent">
									<h6 class="h6 as">Track sales and growth trends &amp; Billing Details</h6>
								</div>
							</div>
							<div class="emptySpace"></div>
						</div>

						<div class="col-xs-12 col-sm-6 col-md-4">
							<div class="servicesThumbnail btn10">
								<div class="imgWrapper"><img src="images/menu.png" class="" alt=""></div>
								<div class="servicesContent">
									<h6 class="h6 as">Customize your Menu, Packages &amp; Tables</h6>

								</div>
							</div>
							<div class="emptySpace"></div>
						</div>





						<div class="col-xs-12 col-sm-6 col-md-4">
							<div class="servicesThumbnail btn10">
								<div class="imgWrapper"><img src="images/discount.png" class="" alt=""></div>
								<div class="servicesContent">
									<h6 class="h6 as">Manage Offers, Discounts &amp; Promotions</h6>

								</div>
							</div>
							<div class="emptySpace"></div>
						</div>



						<div class="col-xs-12 col-sm-6 col-md-4">
							<div class="servicesThumbnail btn10">
								<div class="imgWrapper"><img src="images/reserved.png" class="" alt=""></div>
								<div class="servicesContent">
									<h6 class="h6 as">Confirm Reservations in Real Time</h6>

								</div>
							</div>
							<div class="emptySpace"></div>
						</div>



						<div class="col-xs-12 col-sm-6 col-md-4">
							<div class="servicesThumbnail btn10">
								<div class="imgWrapper"><img src="images/notification.png" class="" alt=""></div>
								<div class="servicesContent">
									<h6 class="h6 as">Send Targeted Push Notifications</h6>
								</div>
							</div>
							<div class="emptySpace"></div>
						</div>



						<div class="col-xs-12 col-sm-6 col-md-4">
							<div class="servicesThumbnail btn10">
								<div class="imgWrapper"><img src="images/take-away.png" class="" alt=""></div>
								<div class="servicesContent">
									<h6 class="h6 as">Receive &amp; Manage Take-Away Orders</h6>

								</div>
							</div>
							<div class="emptySpace"></div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!--  ----------------------------------------------------------------------------------------->
	<div class="container-fluid div4" ;">
		<div class="container">
			<div class="text-center" style="margin-top:3%">
				<h2 class="margbt5 brand_font" style="margin-bottom:2%">GLIMPSE of features in Mili</h2>
				<div class="col-md-4 mb-4">
					<div class="card h-100">
						<div class="card-body">
							<img src="images/scan1.png" class="diamond" alt="Scan Function" width="100px" height="100px">
							<h3 class="card-title font_size_p col_black">Scan</h3>
							<p class="card-text">Now Place your order by scanning the QR code on the table instead of waiting for the
								waiter
								And when you are done with your food just pay from your favourite UPI based app
							</p>
						</div>


					</div>
				</div>
				<!-- /.col-md-4 -->
				<div class="col-md-4 mb-4">
					<div class="card h-100">
						<div class="card-body">
							<img src="images/tray1.png" class="diamond" alt="Scan Function" width="100px" height="100px">
							<h2 class="card-title font_size_p col_black">Food Database</h2>
							<p class="card-text">Confused What the food on the menu means well hold on we are building and adding all
								food s to our database. So that when you order your food you don't regret that you ordered the food
								without
								knowing it. </p>
						</div>
					</div>
				</div>
				<!-- /.col-md-4 -->
				<div class="col-md-4 mb-4">
					<div class="card h-100">
						<div class="card-body">
							<div class="diamond1">
								<img src="images/share1.png" class="diamond" alt="Scan Function" width="100px" height="100px">
							</div>
							<h2 class="card-title font_size_p col_black">Social Network</h2>
							<p class="card-text">Food! we not only eat but cherish about, read and share about.
								Download Mili to read about, create and share your stories about food and also know about social events
								around
								you related to food.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- ---------------------GLIMPSE OF WHAT WE DO!------------------------------------ -->
	<div class="container-fluid">
		<div class=" container" ">
	<div class=" why_choose_us">
			<div class="container" ">
			<div class=" sec-title margbt40">
				<h2 class="col_black_inv text-center">Glimpse of what we do!</h2>
				<p class="col_black_inv text-center">Mili turns your restaurant's standard to an international scale with
					outstanding
					features in mobile app for Restaurant</p>

			</div>
			<div class="col-md-4 text-center"><img src="images/scan.png" alt="" class="margbt10">
				<h3 class="font_size_p col_black">Waiter Less Ordering</h3>
				<p class="col_blue">Don't make your customers wait for the waiter to place the order.
					Let them place the order by just scanning the QR code </p>
			</div>
			<div class="col-md-4 text-center"><img src="images/delivery.png" alt="" class="margbt10">
				<h3 class="font_size_p col_black">Home Delivery &amp; Take Away</h3>
				<p class="col_blue">Give
					your customers the delight of placing their take away
					orders online via the app or book their home delivery orders directly from their mobile phone</p>
			</div>
			<div class="col-md-4 text-center"><img src="images/online-payment.png" alt="" class="margbt10">
				<h3 class="font_size_p col_black">MOBILE PAYMENTS
				</h3>
				<p class="col_blue">Avoid fees on transactions on payments from customers with our UPI based payment
					integration
					which lets cutomers enjoy the offers and make payment from variety</p>
			</div>


			<div class="col-md-4 text-center"><img src="images/menu.png" alt="" class="margbt10">
				<h3 class="font_size_p col_black">Digital Menu Card</h3>
				<p class="col_blue">Let your customers know what you have to
					offer with a digital menu card to display all
					cuisines, foods and everything </p>
			</div>

			<div class="col-md-4 text-center"><img src="images/table-reservation.png" alt="" class="margbt10">
				<h3 class="font_size_p col_black">TABLE RESERVATION
				</h3>
				<p class="col_blue">Don’t let your customers wait in queue or be
					unsure about wasting their time. Get real-time
					table reservation directly from your app</p>
			</div>
			<div class="col-md-4 text-center"><img src="images/discount.png" alt="" class="margbt10">
				<h3 class="font_size_p col_black">LOYALTY PROGRAMS &amp; OFFERS</h3>
				<p class="col_blue">There is no better way to increase your
					retention than to offer a loyalty program via in
					app discounts and offers on orders</p>
			</div>
			<div class="col-md-4 text-center"><img src="images/calendar.png" alt="" class="margbt10">
				<h3 class="font_size_p col_black">EVENTS</h3>
				<p class="col_blue">Planning an event and want every foodie
					to know about it? Now do that with just a push of the button from the awesome admin panel</p>
			</div>
			<div class="col-md-4 text-center"><img src="images/review.png" alt="" class="margbt10">
				<h3 class="font_size_p col_black">IN-APP REVIEWS
				</h3>
				<p class="col_blue">Review system which actually makes sense and that doesn't irritate.
					Let your customers review your food, service, hygeine and ambience and you make it a better
				</p>
			</div>
			<div class="col-md-4 text-center"><img src="images/social-media.png" alt="" class="margbt10">
				<h3 class="font_size_p col_black">SOCIAL FEEDS</h3>
				<p class="col_blue">Integrate your social media accounts directly
					into your mobile app and let your customers
					receive your social updates</p>
			</div>
		</div>
	</div>
	</div>
	</div>

	<!-- ----------------------------------------------------------------------------------------------------------- -->
	<div class="container-fluid div4" ">
<div class=" container">
		<div class="form-horizontal" id="restaurant_register">
			<div class="form-msg">
				<div class="cols-sm-10">
					<div class="input-group">
						<!-- <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span> -->
						<input type="text" style="width: 50%" class="form-rounded form-control name-size inp-margin" name="Name" id="your_name"
						 placeholder="Your Name" />
						<input type="text" style="width: 50%" class="form-rounded form-control name-size inp-margin" name="lastname" id="your_email"
						 placeholder="Your Email" />
					</div>
				</div>
				<!-- <div class="form-group"> -->
				<div class="cols-sm-10">
					<div class="input-group">
						<!-- <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span> -->
						<input class="form-control inp-margin" name="email" id="your_contact" placeholder="Contact Number" required />
					</div>
				</div>
				<!-- </div> -->

				<!-- <div class="form-group"> -->
				<div class="cols-sm-10">
					<div class="input-group">
						<!-- <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span> -->
						<textarea type="text" rows="5" class="form-control place_color inp-margin" placeholder="Messege" name="restaurantname"
						 id="your_msg" /></textarea>
					</div>
				</div>
				<div class="col-sm-4"></div>
				<div class="col-sm-4"><input type="button" class="sub_button" data-toggle="modal" data-target="#myMessegeModal"
					 value="Submit"></div>
				<div class="col-sm-4"></div>
				<!-- </div> -->
			</div>
		</div>
	</div>
	</div>

	<!-- Model for submit message -->
	<div class="form-group modal fade" id="myMessegeModal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<div class="error_msg">Thanks!!!</div>
				</div>
			</div>
		</div>
	</div>

	<!-- ------------------------------------------------------------------------------------------------------ -->
	<div class="container-fluid" ">
	<footer>
		<div class=" foot_back">
		<div class="follow_us">
			<div class="li_align">
				<a href="https://www.facebook.com/Mili-716847228672366"><i class="fab fa-facebook-f FB1"></i></a>
				<a href="https://twitter.com/themiliapp"><i class="fab fa-twitter FB2"></i></a>
			</div>
		</div>
		<ul class="list_marg">
			<li class="foot_list"><a href="/" class="logo2">MILI</a></li>
			<div class="col-sm-3 footer_list"><a href="/aboutus" class="footer_text">About Us</a></div>
			<div class="col-sm-3 footer_list"><a href="mailto:admin@militheapp.com" class="footer_text">Email :
					admin@militheapp.com</a></div>
			<div class="col-sm-3 footer_list"><a href="tel:+918886780265" class="footer_text">Call : +91 (888) 678-0265</a></div>
			<div class="col-sm-3 footer_list" style="border-right:none;"><a href="" class="footer_text">© 2018 Mili Inc. All
					rights reserved.</a></div>
		</ul>
	</div>
	</footer>
	</div>
	<style type="text/css">
		/*.footer_li{
					list-style-type: none;
					margin: 0;
					padding: 10px 10px 10px 10px;
					overflow: hidden;
					float: left;
					border: white solid 1px;
					/*background: white;*/

		.navbar-inverse {
			background: rgba(255, 255, 255, 0);
		}

		.navbar-fixed-bottom,
		.navbar-fixed-top {
			position: relative;
			right: 0;
			left: 0;
			z-index: 1030;
		}

		.inp-margin::-webkit-input-placeholder {
			/* WebKit, Blink, Edge */
			color: white;
		}

		.container {
			padding-right: 0px;
			padding-left: 0px;
		}

		.row {
			margin-left: 0px;
			margin-right: 0px;
		}

		.container-fluid {
			padding-right: 0px;
		}

		.foot_back {
			/*background-image: url("../images/footback.jpg");*/
			background: white;
			/* border-top: 2px solid black; */
			height: 166px;
			width: 100%;
			/* margin-top: 4%; */
			background-size: cover;
			box-shadow: 0px 0px 5px grey;
		}

		.foot_img {
			background: black;
			width: 100%;
			opacity: 0.6;
			height: 70px;
		}

		input:focus {
			/*outline: none !important;*/
			border: 1px solid red;
			box-shadow: 0 0 10px #719ECE;
		}

		@media screen and (max-width: 600px) {
			.container-fluid {
				/* padding-left: 4%; */
			}

			.breadcrumb>li,
			.breadcrumb>li>a,
			.list--horizontal>li,
			.list--horizontal>li>a,
			.nav>li,
			.nav>li>a,
			.secondary-nav>li,
			.secondary-nav>li>a,
			.top-bar>li,
			.top-bar>li>a {
				display: block;
				text-align: center;
				zoom: 1;
			}

			.no-account {
				text-align: center;
				padding: 15px 36px 10px 10px;
				display: -webkit-inline-box;
				margin-left: 13%;
			}

			.form-size {
				width: 50%;
			}

			.navbar-toggle {
				margin-top: 8px;
			}

			.foot_back {
				/* background-image: url(../images/footback.jpg); */
				/* background-image: url(../images/footback.jpg); */
				background: white;
				border-top: 2px solid black;
				height: 230px;
				width: 100%;
				padding-top: 5px;
				/* margin-top: 4%; */
				background-size: cover;
				box-shadow: 0px 0px 5px grey;
			}
		}
	</style>
	<!-- JAVASCRIPT JS FILES -->
	<script src="js/bootstrap.min.js"></script>
	<script src="js/custom.js"></script>

</body>

</html>