    <!-- Process section -->
    <section class="section section-feature-grey is-medium huge-pb" id="process">
            <div class="container">
                <!-- Title -->
                <div class="centered-title">
                    <h2>Our Process</h2>
                    <div class="title-divider"></div>
                    <div class="subheading">
                        Before creation, there's thinking. Our process is innovative which helps our clients to grow.
                    </div>
                    
                </div>
                <!-- /Title -->
                <!-- Process steps -->
                <div class="content-wrapper">
                    <div class="columns is-vcentered">
                        <!-- Process step -->
                        <div class="column grid-4">
                            <div class="process-block has-line">
                                <div class="process-icon is-icon-reveal">
                                    <div class="icon-wrapper">
                                        <i class="im im-icon-Arrow-Over"></i>
                                        <div class="process-number">1</div>
                                    </div>
                                </div>
                                <div class="process-info">
                                    <div class="step-number">1</div>
                                    <div class="details">
                                        <div class="motto">Scan</div>
                                        <p class="description">Scan QR code to order food more efficiently without the
                                            need
                                            of
                                            waiter.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Process step -->
                        <div class="column grid-4">
                            <div class="process-block has-line">
                                <div class="process-icon is-icon-reveal">
                                    <div class="icon-wrapper">
                                        <i class="im im-icon-Arrow-Around"></i>
                                        <div class="process-number">2</div>
                                    </div>
                                </div>
                                <div class="process-info">
                                    <div class="step-number">2</div>
                                    <div class="details">
                                        <div class="motto">Order</div>
                                        <p class="description">Order will be placed in a seconds to the kitchen with your
                                            food choices.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Process step -->
                        <div class="column grid-4">
                            <div class="process-block has-line">
                                <div class="process-icon is-icon-reveal">
                                    <div class="icon-wrapper">
                                        <i class="im im-icon-Arrow-Refresh"></i>
                                        <div class="process-number">3</div>
                                    </div>
                                </div>
                                <div class="process-info">
                                    <div class="step-number">3</div>
                                    <div class="details">
                                        <div class="motto">Eat</div>
                                        <p class="description">Get track of your food order directly from 
                                            kitchen and enjoy the food.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column grid-4">
                            <div class="process-block">
                                <div class="process-icon is-icon-reveal">
                                    <div class="icon-wrapper">
                                        <i class="im im-icon-Arrow-Over"></i>
                                        <div class="process-number">4</div>
                                    </div>
                                </div>
                                <div class="process-info">
                                    <div class="step-number">4</div>
                                    <div class="details">
                                        <div class="motto">Pay</div>
                                        <p class="description">Cashless transaction with your favourite UPI based application.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Process steps -->
            </div>
        </section>
        <!-- /Process section -->