<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Ywait - Registration</title>
  <link rel="icon" type="image/png" href="assets/images/favicon.png" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>

  <script src="js/jquery.js"></script>
  <script src="js/firebase.js"></script>
  <script src="js/authentication.js"></script>
  <script src="js/cities.js"></script>
  <!-- <script src="assets/js/waiwait.js"></script> -->

  <link rel="stylesheet" type="text/css" href="assets/css/home_style.css">
  <link rel="stylesheet" type="text/css" href="assets/css/sign_up.css">
  <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css'>
  <link rel='stylesheet'
    href='//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.0/css/bootstrapValidator.min.css'>


  <link rel="stylesheet" id="bulma" href="assets/css/bulma.css" />
  <link rel="stylesheet" type="text/css" href="assets/css/core_green.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="assets/js/ggpopover/ggtooltip.css">
  <link rel="stylesheet" type="text/css" href="assets/css/icons.min.css">
  <link rel="stylesheet" type="text/css" href="assets/css/core.css">
  <style>
    #toast {
      visibility: hidden;
      margin: auto;
      background-color: #333;
      color: #fff;
      text-align: center;
      border-radius: 2px;
      z-index: 1;
      left: 0;
      right: 0;
      bottom: 30px;
      font-size: 12px;
      white-space: nowrap;
    }

    #toast #desc {
      color: #fff;
      overflow: hidden;
      white-space: nowrap;
    }

    #toast.show {
      visibility: visible;
    }
  </style>

</head>

<body>
  <div class="hero is-medium">
    <div class="navbar-wrapper navbar-fade">
      <div class="hero-head">
        <!-- Nav -->
        <div class="container">
          <nav class="nav">
            <div class="container big">
              <div class="nav-left shrink">
                <a class="nav-item mililogo" href="/">
                  <img src="assets/images/logos/brands/milithelogo-1.png" alt="">
                  <!-- MILI -->
                </a>
                <!-- Sidebar trigger -->
              </div>
              <a href="#process" class="nav-item is-tab nav-inner is-not-mobile">
                How it works?
              </a>
              <a href="demo-page" class="nav-item is-tab nav-inner is-not-mobile">
                Demo
              </a>
            </div>
            <!-- Responsive toggle -->
            <span class="nav-toggle">
              <span></span>
              <span></span>
              <span></span>
            </span>
            <div class="nav-right nav-menu">
              <a href="#process" class="nav-item is-tab nav-inner is-menu-mobile">
                How it works?
              </a>
              <a href="demo-page" class="nav-item is-tab nav-inner is-menu-mobile">
                Demo
              </a>
              <span class="nav-item">
                <a href="login" id="signup-btn"
                  class="button button-signup btn-outlined is-bold btn-align primary-btn rounded raised modal-trigger">
                  Log in
                </a>
              </span>
            </div>
        </div>
        </nav>
      </div>
      <!-- /Nav -->
    </div>
  </div>
  <div class="container-fluid">
    <form class="well form-horizontal main-login" id="contact_form">
      <fieldset>
        <div class="flex-card clean-signup-info padding-20" id="signup-card restaurant_register">

          <h2 class="has-text-centered clean-text">Get started</h2>
          <div class="feature">
            <img src="assets/images/illustrations/icons/landing-v1/business-ready.svg" alt="">
            <div class="feature-text">Don't let your customers do pssh pssh! hiss hiss! excuse
              me..
              FWEET!.. Oye Waiter, Bro, Mere Bhai, Anna, @#$% for calling out waiters.</div>
          </div>
          <div class="feature">
            <img src="assets/images/illustrations/icons/landing-v1/credit-card.svg" alt="">
            <div class="feature-text">Let the customers scan the QR code on the table and place
              the order through there own mobile without
              any hardware cost and waiter training sorry it's actually waiter less ordering</div>
          </div>
          <div class="feature">
            <img src="assets/images/illustrations/icons/landing-v1/components.svg" alt="">
            <div class="feature-text">Introducing Ywait! Register To Know How We Can Change The Restaurant Interact With
              Customers and take
              it to next level you alays thought of along with all new innovative feature of scanning and placing the
              order
              at a price you will love to use it.</div>
          </div>
        </div>
        <!-- Text input-->
        <div class="register_form">
          <legend>
            <center>
              Registration Form
            </center>
          </legend><br>
          <div id="snackbar"></div>
          <div class="form-group fname_css">
            <label class="col-md-6 control-label">First Name*</label>
            <div class="col-md-6 inputGroupContainer">
              <div class="input-group">
                <!-- <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span> -->
                <input name="first_name" id="first_name" placeholder="" class="form-control" type="text" required>
              </div>
            </div>
          </div>
          <div class="form-group lname_css">
            <label class="col-md-6 control-label">Last Name*</label>
            <div class="col-md-6 inputGroupContainer">
              <div class="input-group">
                <!-- <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span> -->
                <input name="last_name" id="last_name" placeholder="" class="form-control" type="text" required>
              </div>
            </div>
          </div>
          <div class="form-group fname_css">
            <label class="col-md-6 control-label">State*</label>
            <div class="col-md-6 selectContainer">
              <div class="input-group">
                <!-- <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span> -->
                <select onchange="print_city('state', this.selectedIndex);" id="sts" name="restaurant_state"
                  class="form-control selectpicker" required>
                  <option value=""></option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group lname_css">
            <label class="col-md-6 control-label">City*</label>
            <div class="col-md-6 selectContainer">
              <div class="input-group">
                <!-- <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span> -->
                <select name="restaurant_city" id="state" class="form-control selectpicker" required>
                  <option value=""></option>
                </select>
              </div>
            </div>
          </div>
          <script language="javascript">print_state("sts");</script>
          <div class="form-group">
            <label class="col-md-6 control-label">Restaurant Name*</label>
            <div class="col-md-6 inputGroupContainer">
              <div class="input-group">
                <!-- <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span> -->
                <input name="restaurant_name" placeholder="" class="form-control" id="restaurantname" type="text"
                  required>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-6 control-label">E-Mail*</label>
            <div class="col-md-6 inputGroupContainer">
              <div class="input-group">
                <!-- <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span> -->
                <input name="user_email" id="email" placeholder="" class="form-control" type="email" required>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-6 control-label">Password*</label>
            <div class="col-md-6 inputGroupContainer">
              <div class="input-group">
                <!-- <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span> -->
                <input name="user_password" placeholder="" class="form-control" type="password" id="user_password"
                  required>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-6 control-label">Confirm Password*</label>
            <div class="col-md-6 inputGroupContainer">
              <div class="input-group">
                <!-- <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span> -->
                <input name="password" id="password" placeholder="" class="form-control" type="password" required>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-6 control-label">Contact Number*</label>
            <div class="col-md-6 inputGroupContainer">
              <div class="input-group">
                <input name="user_contact" placeholder="" class="form-control" id="user_contact" type="text" required>
              </div>
            </div>
          </div>
          <div class="form-group sign_up_security_code">
            <label class="col-md-6 control-label">Security code*</label>
            <div class="col-md-6 inputGroupContainer">
              <div class="input-group">
                <input name="uid" placeholder="" class="form-control" id="uid" type="text" required>
              </div>
              <div class="input-group">
                <div class="no-account is-accent" id="resend_security_code"><a>Resend security code?</a></div>
              </div>
            </div>
          </div>
          <!-- Button -->
          <div class="form-group" style="text-align:center;">
            <label class="col-md-6 control-label"></label>
            <div class="col-md-6">
              <div id="toast" class="">
                <div id="desc"></div>
              </div>
              <br>
              <input type="button" class="btn btn-warning" name="save" value="Send security code" id="registerButton">
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  </div><!-- /.container -->
  <% include footer.ejs %>
  <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'></script>
  <script src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js'></script>


  <style>
    /* .fname_css {
      width: 50%;
    }

    .lname_css {
      width: 50%;
      float: right;
    } */
    .well {
      /* padding: 0px 130px 130px 130px; */
      background: white;
      margin-bottom: 0px;
      /* border: 0px; */
    }

    .form-group {
      /* margin-bottom:0px; */
    }

    legend {
      border-bottom: 0px;
      font-family: 'Nexa Light', sans-serif;
      font-weight: 100;
    }

    .btn-warning {
      background-image: linear-gradient(to bottom, #07b363 0, #07b363 100%);
    }

    .btn-warning {
      border-color: #07b363;
      background-color: #07b363;
    }

    .btn-warning:hover,
    .btn-warning:focus {
      background-color: #07b363;
      background-position: 0 -15px;
    }

    .btn-warning:hover,
    .btn-warning:focus,
    .btn-warning:active,
    .btn-warning.active,
    .open>.dropdown-toggle.btn-warning {
      color: #fff;
      background-color: #07b363;
      border-color: #07b363;
    }
  </style>


</body>

</html>
