<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mili - Sign Up</title>
    <link rel="icon" type="image/png" href="assets/images/favicon.png" />
    <!-- Core css -->
    <script src="js/jquery.js"></script>
    <script src="js/firebase.js"></script>
    <!-- <script src="js/authentication.min.js"></script> -->
    <script src="js/authentication.js"></script>
    <script src="js/cities.js"></script>
    <script src="assets/js/waiwait.js"></script>
    <!-- <link rel="stylesheet" href="assets/css/style.css"> -->
    <link rel="stylesheet" type="text/css" href="assets/css/home_style.css">
    <link rel="stylesheet" id="bulma" href="assets/css/bulma.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/core_green.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <!-- Plugins css -->
    <link rel="stylesheet" type="text/css" href="assets/js/ggpopover/ggtooltip.css">
    <!-- Icons -->
    <link rel="stylesheet" type="text/css" href="assets/css/icons.min.css">
</head>
<style>
    .nav-item img {
    max-height: 3rem;
    margin-top: -10px;
}
</style>

<body>
    <!-- Pageloader -->
    <div class="pageloader"></div>
    <div class="infraloader is-active"></div>

    <!-- Hero and nav -->
    <div class="hero is-light-grey is-fullheight">
        <div class="navbar-wrapper navbar-fade">
            <div class="hero-head">

                <!-- Nav -->
                <div class="container">
                    <nav class="nav">
                        <div class="container big">
                            <div class="nav-left">
                                <a class="nav-item mililogo" href="/">
                                    <img src="assets/images/logos/brands/milithelogo-1.png" alt="">
                                    <!-- MILI -->
                                </a>
                                <!-- Sidebar trigger -->
                                <a href="/" class="nav-item is-tab nav-inner is-not-mobile">
                                    Home
                                </a>
                                <a href="demo-page" class="nav-item is-tab nav-inner is-not-mobile">
                                    Demo
                                </a>
                            </div>
                            <!-- Responsive toggle -->
                            <span class="nav-toggle">
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                            <div class="nav-right nav-menu">

                                <a href="/" class="nav-item is-tab nav-inner is-menu-mobile">
                                    Home
                                </a>
                                <a href="demo-page" class="nav-item is-tab nav-inner is-menu-mobile">
                                    Demo
                                </a>
                                <span class="nav-item">
                                    <a id="signup-btn" class="button button-signup btn-outlined is-bold btn-align primary-btn rounded raised modal-trigger"
                                        data-modal="vertical-form-modal">
                                        Log in
                                    </a>
                                </span>
                            </div>
                        </div>
                    </nav>
                </div>
                <!-- /Nav -->
            </div>
        </div>
        <!-- Modal LOGIN Markup -->
        <% include log-in.ejs %>
        <!-- /Modal LOGIN Markup -->
        <style>
        .error_modal {
    text-align: center;
    background: white;
    width: 40%;
    height: 100px;
    position: absolute;
    z-index: 999;
    margin-left: 52%;
    margin-top: 113px;
    box-shadow: 2px 2px 2px 2px #d8d3d3a3;
    display: none;
}
        </style>

        <!-- Hero image -->
        <div id="main-hero" class="hero-body">
            <div class="container">
                <div class="columns is-vcentered">
                    <div class="column is-5 is-offset-1 is-hidden-mobile">
                        <div class="flex-card clean-signup-info padding-20">
                            
                                <h2 class="has-text-centered clean-text">Get started</h2>
                                <div class="feature">
                                    <img src="assets/images/illustrations/icons/landing-v1/business-ready.svg" alt="">
                                    <div class="feature-text">Don't let your customers do pssh pssh! hiss hiss! excuse
                                        me..
                                        FWEET!.. Oye Waiter, Bro, Mere Bhai, Anna, @#$% for calling out waiters.</div>
                                </div>
                                <div class="feature">
                                    <img src="assets/images/illustrations/icons/landing-v1/credit-card.svg" alt="">
                                    <div class="feature-text">Let the customers scan the QR code on the table and place
                                        the order through there own mobile without
                                        any hardware cost and waiter training sorry it's actually waiter less ordering</div>
                                </div>
                                <div class="feature">
                                    <img src="assets/images/illustrations/icons/landing-v1/components.svg" alt="">
                                    <div class="feature-text">Introducing Mili! Register To Know How We Can Change The Restaurant Interact With Customers and take
                                        it to next level you alays thought of along with all new innovative feature of scanning and placing the order
                                        at a price you will love to use it.</div>
                                </div>
                        </div>
                    </div>
                    <script>
                    // function inputBox(){
                    //     $('.clean-login-card,.clean-signup-card').css("margin-top","350px");
                    // }
                    
                    $(document).ready(function(){



                        
                            $('#name').click(function(){
                                console.log("********************" + $(window).width());
                                if ($(window).width() <= 768) {
                                    $('.clean-login-card,.clean-signup-card').css("margin-top","350px");
                                }
                            });
                            $('#name').focusout(function(){
                                console.log("*********Amit***********" + $(window).width());
                                if ($(window).width() <= 500) {
                                    $('.clean-login-card,.clean-signup-card').css("margin-top","0px");
                                }
                            });
                    });

                    </script>
                    <style>
                    .first_last_input{
                        float: left;
                        width: 50%;
                    }
                    </style>
                    <form class="column is-6 main-login" onsubmit="return signUpWithEmailVerification();">
                        <div class="animated preFadeInLeft fadeInLeft" id="signup-card restaurant_register">
                            <div class="flex-card clean-signup-card">
                                    <div id="snackbar_signin"></div>
                                <h2 class="has-text-centered">Register</h2>
                                <div class="valid_name" style="display:none; color:red;"></div>
                                <div class="control-material is-primary first_last_input">
                                    <input class="material-input" type="text" name="first_name" id="first_name">
                                    <span class="material-highlight"></span>
                                    <span class="bar"></span>
                                    <label class="lbl_name">First Name *</label>
                                </div>
                                <div class="control-material is-primary first_last_input">
                                    <input class="material-input" type="text" name="last_name" id="last_name">
                                    <span class="material-highlight"></span>
                                    <span class="bar"></span>
                                    <label class="lbl_name">Last Name *</label>
                                </div>
                                <div id="loading-spinner">
                                    <div class="spin-icon"></div>
                                </div>
                                <!-- <% include data_parser.ejs %> -->
                                
                                <div class="valid_email" style="display:none; color:red;"></div>
                                <div class="control-material is-primary" style="margin-top: 66px;">
                                    <input class="material-input" type="text" name="user_email" id="email">
                                    <span class="material-highlight"></span>
                                    <span class="bar"></span>
                                    <label class="lbl_email">Email *</label>
                                </div>
                                <!-- <div class="control-material is-primary">
                                        <input class="material-input" type="text" name="state" id="state" required>
                                        <span class="material-highlight"></span>
                                        <span class="bar"></span>
                                        <label>Your State *</label>
                                    </div>
                                    <div class="control-material is-primary">
                                        <input class="material-input" type="text" name="city" id="city" required>
                                        <span class="material-highlight"></span>
                                        <span class="bar"></span>
                                        <label>Your City *</label>
                                    </div> -->
                                <div class="valid_location" style="display:none; color:red;"></div>
                                <div class="control-material is-primary">
                                    <select onchange="print_city('state', this.selectedIndex);" id="sts" name="restaurant_state"
                                        class="form-control"></select>
                                    <select id="state" class="form-control" name="restaurant_city">
                                        <option><div class="color:white;">Select City</div></option>
                                    </select>
                                    <script language="javascript">print_state("sts");</script>
                                </div>
                                <div class="valid_number" style="display:none; color:red;"></div>
                                <div class="control-material is-primary">
                                    <input class="material-input" type="text" name="user_contact" id="phonenumber"
                                        >
                                    <span class="material-highlight"></span>
                                    <span class="bar"></span>
                                    <label class="lbl_number">Mobile or Landline with(STD) *</label>
                                </div>
                                <div class="valid_restaurant" style="display:none; color:red;"></div>
                                <div class="control-material is-primary">
                                    <input class="material-input" type="text" name="restaurant_name" id="restaurantname"
                                        >
                                    <span class="material-highlight"></span>
                                    <span class="bar"></span>
                                    <label class="lbl_restaurant">Restaurant Name *</label>
                                </div>
                                <div class="valid_password" style="display:none; color:red;"></div>
                                <div class="control-material is-primary">
                                    <input class="material-input" type="password" name="password" id="password"
                                        >
                                    <span class="material-highlight"></span>
                                    <span class="bar"></span>
                                    <label class="lbl_password">Enter Password *</label>
                                </div>
                                <div class="mt-20">
                                    <input type="submit" name="save" value="Get started now"
                                        class="button button-cta btn-align primary-btn is-fullwidth raised no-lh"
                                       id="registerButton"  >
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /Hero image -->
        </div>

        <style>
            select#sts {
                border-top: none;
                border-left: none;
                border-right: none;
                height: 40px;
                color: #696565
                    /* /* background: none; */
            }

            select#state {
                border-top: none;
                border-left: none;
                border-right: none;
                height: 40px;
                color: #696565;
                width: 50%;
            }
            @media screen and (max-width: 768px){
            .nav .nav-toggle.is-active span {
                background-color: #04b261!important;
            }
        }
        </style>


        <!-- Back To Top Button -->
        <div id="backtotop"><a href="#"></a></div>

        <!-- Core js -->
        <script src="assets/js/core/jquery.min.js"></script>
        <script src="assets/js/core/modernizr.min.js"></script>
        <!-- Plugins js -->
        <script src="assets/js/ggpopover/ggtooltip.js"></script>
        <script src="assets/js/scrollreveal/scrollreveal.min.js"></script>
        <!-- Bulkit js -->
        <script src="assets/js/main.js"></script>
        <!-- Page specific js -->
        <script src="assets/js/pages/auth.js"></script>
        <script src="assets/js/pages/components-modals.js"></script>
</body>
<style>
    .navbar-wrapper.navbar-fade .hero-head,
    .navbar-wrapper.navbar-minimal .hero-head {
        background-color: transparent;
        box-shadow: inherit;
        /* box-shadow: 2px 2px 2px #e5e5e5e0; */
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);
        background: white;
    }

    .control-material input.material-input,
    .control-material textarea {
        width: 100% !important;
        font-size: 18px;
        padding: 0.625em 0.625em 0.1em 0.3125em;
        display: block;
        width: 18.75em;
        border: none;
        border-bottom: 1px solid #A9ABAC;
        background-color: transparent !important;
    }

    .control-material {
        position: relative;
        margin-bottom: 2em;
    }
    .nav-left {
    /* display: -webkit-box; */
    display: -ms-flexbox;
    display: contents;
    -ms-flex-pack: start;
    /* justify-content: flex-start; */
    overflow: hidden;
    overflow-x: auto;
    /* white-space: nowrap; */
}
.nav-item a, a.nav-item {
    /* color: #7a7a7a; */
    margin-left: 3%;
}
select#sts {
    /* width: 100%; */
    background: white;
    margin: 0px 0px 2rem 0px;
}
.clean-login-card, .clean-signup-card {
    padding: 25px;
}

#loading-spinner {
  display: inline;
  position: relative;
  z-index: 9;
}

#loading-spinner .spin-icon {
  margin: auto;
  width: 80px;
  display: none;
  height: 80px;
  position: absolute;
  z-index: 9;
  margin-left: 105px;
  border: solid 3px transparent;
  border-top-color: #04b261;
  border-left-color: #04b261;
  border-radius: 80px;

  -webkit-animation: loading-spinner 500ms linear infinite;
  -moz-animation:    loading-spinner 500ms linear infinite;
  -ms-animation:     loading-spinner 500ms linear infinite;
  -o-animation:      loading-spinner 500ms linear infinite;
  animation:         loading-spinner 500ms linear infinite;
}

@-webkit-keyframes loading-spinner {
  0%   { -webkit-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes loading-spinner {
  0%   { -moz-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}

@-o-keyframes loading-spinner {
  0%   { -o-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-ms-keyframes loading-spinner {
  0%   { -ms-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@keyframes loading-spinner {
  0%   { transform: rotate(0deg);   transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}

select#state {
    background: white;
}
@media screen and (max-width: 768px){
    .clean-login-card h2, .clean-signup-card h2 {
    padding: 0px 0 25px 0;
}
.valid_location {
    margin-bottom: 10px;
}
.control-material {
    position: relative;
    /* margin-bottom: 0em; */
}

.nav .nav-toggle {
    width: 64px;
    height: 64px;
    margin-left: 37%;
}
select#sts {
    width: 100%;
    background: white;
    margin: -10px 0px 2rem 0px;
}
select#state {
    width: 100%;
    margin-top: -10px;
    background: white;
    margin-bottom: 10px;
}
select:focus{
    outline: none;
}
.control-material input.material-input, .control-material textarea {
    padding: 0.4em 0.625em 0.1em 0.3125em;
}
}
</style>
    <script src="assets/js/waiwait.js"></script>
</html>