<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bulkit - Dashboard</title>
    <script src="js/jquery.js"></script>
    <script src="js/firebase.js"></script>
    <script src="js/authentication.min.js"></script>
    <link rel="icon" type="image/png" href="assets/images/favicon.png" />
    <!-- Core css -->
    <link rel="stylesheet" type="text/css" href="assets/css/test.css">
    <link rel="stylesheet" type="text/css" href="assets/css/bulma.css">
    <link rel="stylesheet" type="text/css" href="assets/css/dashboard.css">
    <!-- Icons -->
    <link rel="stylesheet" type="text/css" href="assets/css/icons.min.css">
    <!-- Plugins css -->
    <link rel="stylesheet" type="text/css" href="assets/css/mainstyle.css">
    <link rel="stylesheet" type="text/css" href="assets/js/ggpopover/ggtooltip.css">
    <link rel="stylesheet" type="text/css" href="assets/js/iziToast/iziToast.min.css">
    <link rel="stylesheet" type="text/css" href="assets/js/datepicker/datepicker.css">
    <link rel="stylesheet" type="text/css" href="assets/js/wickedpicker/wickedpicker.min.css">
    <link rel="stylesheet" type="text/css" href="assets/js/chosen/chosen.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/js/highlightjs/style.css">
    <!-- Slider -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Finish Slider -->
</head>

<body>

    <div class="container box" style="border:2px solid;">
        <div class="row">
            <div class="col-md-3 col-sm-6  box-1"></div>
            <div class="col-md-3 col-sm-6  box-1"></div>
            <div class="col-md-3 col-sm-6  box-1"></div>
            <div class="col-md-3 col-sm-6  box-1"></div>
        </div>
    </div>


</body>

</html>