<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="assets/images/favicon.png" />
    <!-- Core css -->
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" id="bulma" href="assets/css/bulma.css" />
    <script src="js/jquery.js"></script>
    <script src="js/firebase.js"></script>
    <script src="js/authentication.min.js"></script>
    <script src="js/bulkit.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/css/core_lemonade.css">
    <link rel="stylesheet" type="text/css" href="assets/css/core_green.css">
    <!-- Core css -->
    <link rel="stylesheet" type="text/css" href="assets/css/core_demo.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <!-- Plugins css -->
    <link rel="stylesheet" type="text/css" href="assets/css/home_style.css">
    <link rel="stylesheet" type="text/css" href="assets/js/ggpopover/ggtooltip.css">
    <link rel="stylesheet" type="text/css" href="assets/js/slick-carousel/slick.css">
    <link rel="stylesheet" type="text/css" href="assets/js/slick-carousel/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="assets/js/chosen/chosen.css">
    <link rel="stylesheet" type="text/css" href="assets/js/highlightjs/style.css">
    <!-- Icons -->
    <link rel="stylesheet" type="text/css" href="assets/css/icons.min.css">
    <!-- Plugins css -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <!-- Plugins css -->
    <link rel="stylesheet" type="text/css" href="assets/css/core_flashy.css">
    <!-- Plugins css -->
    <title>Mili</title>
    <link rel="stylesheet" href="assets/css/footer_css.css">
</head>
<body>
    <div class="back1">
        <!-- Hero and nav -->
    <div class="hero is-medium about-nav">
            <div class="navbar-wrapper navbar-fade">
                <div class="hero-head">
    
                    <!-- Nav -->
                    <div class="container">
                        <nav class="nav">
                            <div class="container big">
                                <div class="nav-left">
                                    <a class="nav-item mililogo" href="/">
                                        <img src="assets/images/logos/brands/milithelogo-1.png" alt="">
                                        <!-- MILI -->
                                    </a>
                                    <!-- Sidebar trigger -->
    
                                    <a href="Download.html" class="nav-item is-tab nav-inner is-not-mobile">
                                        Download
                                    </a>
                                    <a href="#process" class="nav-item is-tab nav-inner is-not-mobile">
                                        How it work
                                    </a>
                                    <a id="signup-btn" href="dashboard" class="nav-item is-tab nav-inner is-not-mobile">
                                        Dashboard
                                    </a>
                                </div>
                                <!-- Responsive toggle -->
                                <span class="nav-toggle">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </span>
                                <div class="nav-right nav-menu">
    
                                    <a href="landing-v3-pricing.html" class="nav-item is-tab nav-inner is-menu-mobile">
                                        Pricing
                                    </a>
                                    <a href="landing-v3-help.html" class="nav-item is-tab nav-inner is-menu-mobile">
                                        Help
                                    </a>
                                    <a id="signup-btn" href="dashboard" class="nav-item is-tab nav-inner is-menu-mobile">
                                        Dashboard
                                    </a>
                                    <span class="nav-item">
                                        <a id="signup-btn" class="button button-signup btn-outlined is-bold btn-align primary-btn rounded raised modal-trigger"
                                            data-modal="vertical-form-modal">
                                            Log in
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </nav>
                    </div>
                    <!-- /Nav -->
    
                </div>
            </div><br><br><br><br><br>
        <h1 style="font-size: 3rem;">FAQ's</h1>
    </div>
    </div>
    <div class="content term">
        
    </div>
    <!-- Dark footer -->
    <footer id="dark-footer" class="footer footer-dark">
            <div class="container">
                <div class="columns">
                    <div class="column">
                        <div class="footer-column">
                            <div class="footer-header">
                                <h3>Customer Service</h3>
                            </div>
                            <ul class="link-list">
                                <li><a href="#">WhatsApp +91 – 81691 40042</a></li>
                                <li><a href="#">Inquiries: info@mili.com </a></li>
                                <li><a href="#">Customers</a></li>
                                <!-- <li><a href="#">Weekly sessions</a></li> -->
                                <li><a href="#">Free trials and demo</a></li>
                                <!-- <li><a href="#">What's next ?</a></li> -->
                            </ul>
                        </div>
                    </div>
                    <div class="column">
                        <div class="footer-column">
                            <div class="footer-header">
                                <h3>Company</h3>
                            </div>
                            <ul class="link-list">
                                <li><a href="#">About us</a></li>
                                <!-- <li><a href="#">About security</a></li> -->
                                <!-- <li><a href="#">User guide</a></li> -->
                                <li><a href="#">Terms of service</a></li>
                                <!-- <li><a href="#">Terms of website use</a></li> -->
                                <li><a href="#">Privacy policy</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="column">
                        <div class="footer-column">
                            <div class="footer-header">
                                <h3>Learning</h3>
                            </div>
                            <ul class="link-list">
                                <!-- <li><a href="#">Resources</a></li> -->
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">FAQ</a></li>
                                <!-- <li><a href="#">API documentation</a></li> -->
                                <!-- <li><a href="#">Admin guide</a></li> -->
                            </ul>
                        </div>
                    </div>
                    <div class="column">
                        <div class="footer-column">
                            <div class="footer-logo">
                                <img src="assets/images/logos/brands/milithelogo-2.png" alt="">
                            </div>
                            <div class="footer-header">
                                <nav class="level is-mobile">
                                    <div class="level-left level-social">
                                        <a href="#" class="level-item">
                                            <span class="icon"><i class="fa fa-facebook"></i></span>
                                        </a>
                                        <a href="#" class="level-item">
                                            <span class="icon"><i class="fa fa-twitter"></i></span>
                                        </a>
                                        <a href="#" class="level-item">
                                            <span class="icon"><i class="fa fa-linkedin"></i></span>
                                        </a>
                                        <a href="#" class="level-item">
                                            <span class="icon"><i class="fa fa-dribbble"></i></span>
                                        </a>
                                        <a href="#" class="level-item">
                                            <span class="icon"><i class="fa fa-github"></i></span>
                                        </a>
                                    </div>
                                </nav>
                            </div>
                            <div class="copyright">
                                <span class="moto light-text">Good time, Great taste. Food is <i class="fa fa-heart color-red"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- /Dark footer -->
</body>
</html>