<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="assets/images/favicon.png" />
    <!-- Core css -->
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" id="bulma" href="assets/css/bulma.css" />
    <script src="js/jquery.js"></script>
    <script src="js/firebase.js"></script>
    <script src="js/authentication.min.js"></script>
    <script src="js/bulkit.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/css/core_lemonade.css">
    <link rel="stylesheet" type="text/css" href="assets/css/core_green.css">
    <!-- Core css -->
    <link rel="stylesheet" type="text/css" href="assets/css/core_demo.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <!-- Plugins css -->
    <link rel="stylesheet" type="text/css" href="assets/css/home_style.css">
    <link rel="stylesheet" type="text/css" href="assets/js/ggpopover/ggtooltip.css">
    <link rel="stylesheet" type="text/css" href="assets/js/slick-carousel/slick.css">
    <link rel="stylesheet" type="text/css" href="assets/js/slick-carousel/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="assets/js/chosen/chosen.css">
    <link rel="stylesheet" type="text/css" href="assets/js/highlightjs/style.css">
    <!-- Icons -->
    <link rel="stylesheet" type="text/css" href="assets/css/icons.min.css">
    <!-- Plugins css -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <!-- Plugins css -->
    <link rel="stylesheet" type="text/css" href="assets/css/core_flashy.css">
    <!-- Plugins css -->
    <title>Mili</title>
    <link rel="stylesheet" href="assets/css/footer_css.css">
</head>
<body>
    <div class="back1">
        <!-- Hero and nav -->
    <div class="hero is-medium about-nav">
            <div class="navbar-wrapper navbar-fade">
                <div class="hero-head">
    
                    <!-- Nav -->
                    <div class="container">
                        <nav class="nav">
                            <div class="container big">
                                <div class="nav-left">
                                    <a class="nav-item mililogo" href="/">
                                        <img src="assets/images/logos/brands/milithelogo-1.png" alt="">
                                        <!-- MILI -->
                                    </a>
                                    <!-- Sidebar trigger -->
    
                                    <a href="Download.html" class="nav-item is-tab nav-inner is-not-mobile">
                                        Download
                                    </a>
                                    <a href="#process" class="nav-item is-tab nav-inner is-not-mobile">
                                        How it work
                                    </a>
                                    <a id="signup-btn" href="dashboard" class="nav-item is-tab nav-inner is-not-mobile">
                                        Dashboard
                                    </a>
                                </div>
                                <!-- Responsive toggle -->
                                <span class="nav-toggle">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </span>
                                <div class="nav-right nav-menu">
    
                                    <a href="landing-v3-pricing.html" class="nav-item is-tab nav-inner is-menu-mobile">
                                        Pricing
                                    </a>
                                    <a href="landing-v3-help.html" class="nav-item is-tab nav-inner is-menu-mobile">
                                        Help
                                    </a>
                                    <a id="signup-btn" href="dashboard" class="nav-item is-tab nav-inner is-menu-mobile">
                                        Dashboard
                                    </a>
                                    <span class="nav-item">
                                        <a id="signup-btn" class="button button-signup btn-outlined is-bold btn-align primary-btn rounded raised modal-trigger"
                                            data-modal="vertical-form-modal">
                                            Log in
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </nav>
                    </div>
                    <!-- /Nav -->
    
                </div>
            </div><br><br><br><br><br>
        <h1 style="font-size: 3rem;">Privacy Policy</h1>
    </div>
    </div>
    <div class="content">
        <h3>
            This privacy policy sets out how Mili uses and protects any information that you give Mili when you use this website.
            Mili is committed to ensuring that your privacy is protected. Should we ask you to provide certain information by which you can be identified when using this website, then you can be assured that it will only be used in accordance with this privacy statement.
            Mili may change this policy from time to time by updating this page. You should check this page from time to time to ensure that you are happy with any changes. This policy is effective from 2018.
        </h3>
        <h2>What we collect</h2>
        <h3>We may collect the following information:</h3>
        <h3>
            <ul>
                <li>name and job title</li>
                <li>contact information including email address</li>
                <li>demographic information such as postcode, preferences and interests</li>
                <li>other information relevant to customer surveys and/or offers</li>
            </ul>
        </h3>
        <h2>What we do with the information we gather</h2>
        <h3>We require this information to understand your needs and provide you with a better service, and in particular for the following reasons:</h3>
        <h3>
            <ul>
                <li>Internal record keeping.</li>
                <li>We may use the information to improve our products and services.</li>
                <li>
                    We may periodically send promotional email about new products, special offers or other information which we think you may find interesting using the email address which you have provided. 
                </li>
                <li>From time to time, we may also use your information to contact you for market research purposes. We may contact you by email, phone, fax or mail.</li>
                <li>We may use the information to customize the website according to your interests.</li>
                <li>We may provide your information to our third party partners for marketing or promotional purposes.</li>
                <li>We will never sell your information.</li>
            </ul>
        </h3>
        <h2>Security</h2>
        <h3>
            We are committed to ensuring that your information is secure. In order to prevent unauthorized access or disclosure we have put in place suitable physical, electronic and managerial procedures to safeguard and secure the information we collect online.
        </h3>
        <h2>How we use cookies</h2>
        <h3>
            A cookie is a small file which asks permission to be placed on your computer's hard drive. Once you agree, the file is added and the cookie helps analyze web traffic or lets you know when you visit a particular site. Cookies allow web applications to respond to you as an individual. The web application can tailor its operations to your needs, likes and dislikes by gathering and remembering information about your preferences.
        </h3>
        <h3>
            A cookie is a small file which asks permission to be placed on your computer's hard drive. Once you agree, the file is added and the cookie helps analyze web traffic or lets you know when you visit a particular site. Cookies allow web applications to respond to you as an individual. The web application can tailor its operations to your needs, likes and dislikes by gathering and remembering information about your preferences.
        </h3>
        <h3>
            Overall, cookies help us provide you with a better website, by enabling us to monitor which pages you find useful and which you do not. A cookie in no way gives us access to your computer or any information about you, other than the data you choose to share with us. 
        </h3>
        <h3>
            You can choose to accept or decline cookies. Most web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. This may prevent you from taking full advantage of the website.
        </h3>
        <h2>Links to other websites</h2>
        <h3>
            Our website may contain links to enable you to visit other websites of interest easily. However, once you have used these links to leave our site, you should note that we do not have any control over that other website. Therefore, we cannot be responsible for the protection and privacy of any information which you provide whilst visiting such sites and such sites are not governed by this privacy statement. You should exercise caution and look at the privacy statement applicable to the website in question.
        </h3>
        <h2>Controlling your personal information</h2>
        <h3>You may choose to restrict the collection or use of your personal information in the following ways:</h3>
        <h3>
            <ul>
                <li>
                    whenever you are asked to fill in a form on the website, look for the box that you can click to indicate that you do not want the information to be used by anybody for direct marketing purposes
                </li>
                <li>
                    if you have previously agreed to us using your personal information for direct marketing purposes, you may change your mind at any time by writing to or emailing us at miliinc@gmail.com
                </li>
            </ul>
        </h3>
        <h3>
            We will not sell, distribute or lease your personal information to third parties unless we have your permission or are required by law. We may use your personal information to send you promotional information about third parties which we think you may find interesting if you tell us that you wish this to happen.
        </h3>
        <h3>
            You may request details of personal information which we hold about you under the Data Protection Act 1998. A small fee will be payable. If you would like a copy of the information held on you please write to Mili Inc.
        </h3>
        <h3>
            If you believe that any information we are holding on you is incorrect or incomplete, please write to or email us as soon as possible, at the above address. We will promptly correct any information found to be incorrect.
        </h3>
    </div>
    <!-- Dark footer -->
    <footer id="dark-footer" class="footer footer-dark">
            <div class="container">
                <div class="columns">
                    <div class="column">
                        <div class="footer-column">
                            <div class="footer-header">
                                <h3>Customer Service</h3>
                            </div>
                            <ul class="link-list">
                                <li><a href="#">WhatsApp +91 – 81691 40042</a></li>
                                <li><a href="#">Inquiries: info@mili.com </a></li>
                                <li><a href="#">Customers</a></li>
                                <!-- <li><a href="#">Weekly sessions</a></li> -->
                                <li><a href="#">Free trials and demo</a></li>
                                <!-- <li><a href="#">What's next ?</a></li> -->
                            </ul>
                        </div>
                    </div>
                    <div class="column">
                        <div class="footer-column">
                            <div class="footer-header">
                                <h3>Company</h3>
                            </div>
                            <ul class="link-list">
                                <li><a href="#">About us</a></li>
                                <!-- <li><a href="#">About security</a></li> -->
                                <!-- <li><a href="#">User guide</a></li> -->
                                <li><a href="#">Terms of service</a></li>
                                <!-- <li><a href="#">Terms of website use</a></li> -->
                                <li><a href="#">Privacy policy</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="column">
                        <div class="footer-column">
                            <div class="footer-header">
                                <h3>Learning</h3>
                            </div>
                            <ul class="link-list">
                                <!-- <li><a href="#">Resources</a></li> -->
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">FAQ</a></li>
                                <!-- <li><a href="#">API documentation</a></li> -->
                                <!-- <li><a href="#">Admin guide</a></li> -->
                            </ul>
                        </div>
                    </div>
                    <div class="column">
                        <div class="footer-column">
                            <div class="footer-logo">
                                <img src="assets/images/logos/brands/milithelogo-2.png" alt="">
                            </div>
                            <div class="footer-header">
                                <nav class="level is-mobile">
                                    <div class="level-left level-social">
                                        <a href="#" class="level-item">
                                            <span class="icon"><i class="fa fa-facebook"></i></span>
                                        </a>
                                        <a href="#" class="level-item">
                                            <span class="icon"><i class="fa fa-twitter"></i></span>
                                        </a>
                                        <a href="#" class="level-item">
                                            <span class="icon"><i class="fa fa-linkedin"></i></span>
                                        </a>
                                        <a href="#" class="level-item">
                                            <span class="icon"><i class="fa fa-dribbble"></i></span>
                                        </a>
                                        <a href="#" class="level-item">
                                            <span class="icon"><i class="fa fa-github"></i></span>
                                        </a>
                                    </div>
                                </nav>
                            </div>
                            <div class="copyright">
                                <span class="moto light-text">Good time, Great taste. Food is <i class="fa fa-heart color-red"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- /Dark footer -->
</body>
</html>